{% extends "base.html" %}
{% block content %}
    <h2>Statistics</h2>
    <div><input type="text" id="filter" name="filter" class="form-control" onkeypress="filter()"></div>
    <div id="data"></div>
    <a href="#" class="btn btn-success" onclick="loadData(); return false;">Reload</a>

    <script>
        function filter()
        {
            $('#data > ul > li').each(function(){
                    if($(this).html().indexOf($('#filter').val())==-1)
                    {
                        $(this).hide();
                    }
                    else
                    {
                        $(this).show();
                    }
            });
        }

        function loadPointDate(point, date, d)
        {
            var _data = '';
            $.ajax({
                url: '/admin/stat/getpointsdatelist/?d=' + date + '&p='+point,
                cache: false,
                dataType: "json",
                success: function(data){
                    _data = '<table class="table table-hover">';
                    _data += '<thead><tr>';
                    _data += '<th>time</th>';
                    _data += '<th>ip</th>';
                    _data += '<th>browser</th>';
                    _data += '<th>os</th>';
                    _data += '<th>mobile</th>';
                    _data += '<th>tablet</th>';
                    _data += '<th>pc</th>';
                    _data += '<th>bot</th>';
                    _data += '</tr></thead>';
                    if(data.message!='') msg_info('', data.message);
                    var j=0;
                    for(var i in data.items)
                    {
                        var item = data.items[i];
                        _data += '<tr title="' + item.user_agent + '">';
                        _data += '<td>' + item.time + '</td>';
                        _data += '<td>' + item.ip_address + '</td>';
                        _data += '<td>' + item.browser_family + '</td>';
                        _data += '<td>' + item.os_family + '</td>';
                        _data += '<td>' + imageForTrue(item.is_mobile) + '</td>';
                        _data += '<td>' + imageForTrue(item.is_tablet) + '</td>';
                        _data += '<td>' + imageForTrue(item.is_pc) + '</td>';
                        _data += '<td>' + imageForTrue(item.is_bot) + '</td>';
                        _data += '</tr>';
                        j++;
                    }
                    _data += '</table>';
                    $('#' + d).html(_data);
                },
                error: function(e, xhr){
                    msg_error("Error","load visitors date " + xhr);
                }
            });
        }

        function loadPoint(point, d)
        {
            _data = '';
            $.ajax({
                url: '/admin/stat/getpointsdate/?p=' + point,
                cache: false,
                dataType: "json",
                success: function(data){
                    _data = '<ul class="list-no-style-l1">';

                    if(data.message!='') msg_info('', data.message);
                    for(var i in data.items)
                    {
                        var item = data.items[i];
                        var row = '<li><a href="#" onclick="loadPointDate(\'' + point + '\', \'' + item.day + '\', \'p' + point.hashCode() + item.day.hashCode() + '\'); return false;">' + item.day + '</a><div id="p' + point.hashCode() + item.day.hashCode() + '"></div></li>';
                        _data += row;
                    }
                    _data += "</ul>";
                    $('#' + d).html(_data);
                },
                error: function(e, xhr){
                    msg_error("Error","load points list " + xhr);
                }
            });
        }

        function init()
        {
            loadData();
        }

        function loadData()
        {
            _data = '';
            $.ajax({
                url: '/admin/stat/getpoints/',
                cache: false,
                dataType: "json",
                success: function(data){
                    if(data.message!='') msg_info('', data.message);
                    _data = '<ul class="list-no-style">';
                    for(var i in data.items)
                    {
                        var item = data.items[i];
                        var row = '<li><a href="#" onclick="loadPoint(\'' + item.point + '\', \'p' + item.point.hashCode() + '\'); return false;">' + item.point + '</a><div id="p' + item.point.hashCode() + '"></div></li>';
                        _data += row;
                    }
                    _data += '</ul>';
                    $('#data').html(_data);
                },
                error: function(e, xhr){
                    msg_error("Error","load points list " + xhr);
                }
            });
        }

        init();
    </script>
{% endblock %}