<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>lagovskiy.com</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/normalize.min.css" />
	<link rel="stylesheet" href="libs/bootstrap-3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="libs/font-awesome-4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/fancyapps-fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="libs/jbox/jBox.css" />
    <link rel="stylesheet" href="libs/jbox/themes/NoticeBorder.css" />

	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>
	<script src="libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="libs/fancyapps-fancybox/jquery.fancybox.min.js"></script>
    <script src="libs/jbox/jBox.min.js"></script>

	<script src="js/main.js"></script>

    <header class="head-row">
        <div class="container clearfix">
            <div class="head-logo fl-left">
                <a href="/"><img src="img/logo450.png"></a>
            </div>
            <div class="head-menu fl-right">
                <button class="hidden-lg hidden-md head-menu-link" id="head-menu-link"><i class="fa fa-bars"></i></button>
                <ul class="head-menu-line" id="head-menu-line">
                    <li><a href="/">home</a></li>
                    <li><a href="/blog/">blog</a></li>
                    <li><a href="/photo/">photo</a></li>
                    <li><a href="/projects/">projects</a></li>
                    <li><a href="/about/">about</a></li>
                </ul>
            </div>
        </div>
    </header>

	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>