<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>lagovskiy.com</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/normalize.min.css" />
	<link rel="stylesheet" href="libs/bootstrap-3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="libs/font-awesome-4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/fancyapps-fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="libs/jbox/jBox.css" />
    <link rel="stylesheet" href="libs/jbox/themes/NoticeBorder.css" />

	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>
	<script src="libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="libs/fancyapps-fancybox/jquery.fancybox.min.js"></script>
    <script src="libs/jbox/jBox.min.js"></script>

	<script src="js/main.js"></script>

    <header class="head-row">
        <div class="container clearfix">
            <div class="head-logo fl-left">
                <a href="/"><img src="img/logo450.png"></a>
            </div>
            <div class="head-menu fl-right">
                <button class="hidden-lg hidden-md head-menu-link" id="head-menu-link"><i class="fa fa-bars"></i></button>
                <ul class="head-menu-line" id="head-menu-line">
                    <li><a href="/">home</a></li>
                    <li><a href="/#">blog</a></li>
                    <li><a href="/#">photo</a></li>
                    <li><a href="/#">projects</a></li>
                    <li><a href="/#">about</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container clearfix">
        <section class="col-md-9 articles" id="articles">
            <article id="post1" class="post">
                <header>
                    <h2 class="post-category"><a href="/">photography</a></h2>
                    <h1 class="post-title"><a href="/">Обзор пленочного фотоаппарата Киев-88</a></h1>
                    <!--<span class="post-tag"><a href="/">film,</a> <a href="/">camera,</a> <a href="/">photo,</a> <a href="/">kiev-88,</a> <a href="/">medium format,</a> <a href="/">6x6</a></span>-->
                </header>
                <div class="post-body clearfix">
                    <p>Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. Равным образом укрепление и развитие структуры способствует подготовки и реализации дальнейших направлений развития.</p>
                </div>
                <div class="post-button">
                    <a href="#">Read more &#8594;</a>
                </div>
            </article>

            <article id="post1" class="post">
                <header>
                    <h2 class="post-category"><a href="/">admin</a></h2>
                    <h1 class="post-title"><a href="/">Автовамическая ручная разблокировка блокировок</a></h1>
                    <!--<span class="post-tag"><a href="/">windows,</a> <a href="/">linux,</a> <a href="/">lock</a></span>-->
                </header>
                <div class="post-body clearfix">
                    <p>Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                    <p>С другой стороны новая модель организационной деятельности требуют определения и уточнения новых предложений. Идейные соображения высшего порядка, а также консультация с широким активом в значительной степени обуславливает создание новых предложений.</p>
                </div>
                <div class="post-button">
                    <a href="#">Read more &#8594;</a>
                </div>
            </article>

            <article id="post1" class="post">
                <header>
                    <h2 class="post-category"><a href="/">programming</a></h2>
                    <h1 class="post-title"><a href="/">Блокировки в MySQL</a></h1>
                    <!--<span class="post-tag"><a href="/">database,</a> <a href="/">mysql,</a> <a href="/">linux,</a> <a href="/">sql</a></span>-->
                </header>
                <div class="post-body clearfix">
                    <p>Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. Равным образом укрепление и развитие структуры способствует подготовки и реализации дальнейших направлений развития.</p>
                </div>
                <div class="post-button">
                    <a href="#">Read more &#8594;</a>
                </div>
            </article>
        </section>
        <section class="col-md-3 right-menu" id="right-menu">
            <section>
                <h2>Categories</h2>
                <ul>
                    <li><a href="#">Admin notes</a></li>
                    <li><a href="#">Dev notes</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </section>
            <section>
                <h2>Tags</h2>
                <ul class="tag">
                    <li><a href="#">linux<span>3</span></a></li>
                    <li><a href="#">mikrotik<span>5</span></a></li>
                    <li><a href="#">film<span>12</span></a></li>
                    <li><a href="#" class="tag-active">analog<span>54</span></a></li>
                    <li><a href="#">dos<span>1</span></a></li>
                    <li><a href="#">database<span>123</span></a></li>
                    <li><a href="#">sql<span>7</span></a></li>
                    <li><a href="#" class="tag-active">medium format<span>8</span></a></li>
                    <li><a href="#">norton commander<span>32</span></a></li>
                    <li><a href="#">zenit<span>3</span></a></li>
                    <li><a href="#">norton utilites<span>67</span></a></li>
                    <li><a href="#">kiev<span>9</span></a></li>
                </ul>
            </section>
        </section>
    </div>

	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>