{% load tags %}

<div style="padding-left: {% get_comment_level comment.path 2 %}em;" class="level">
    <header>
        <div class="username">{{ comment.username }}</div>
        <div class="date">{{ comment.created|date_from_now|safe }}&nbsp;&nbsp;<a href="#comment{{ comment.id }}" name="comment{{ comment.id }}"><i class="fa fa-link" aria-hidden="true"></i></a></div>
        <div class="clearfix"></div>
    </header>
    <div class="content">
        {{ comment.content }}
    </div>
    <div class="reply">
        <a href="#" onclick="moveReply({{ comment.id }}); return false;"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
        <div id="reply_{{ comment.id }}"></div>
    </div>
</div>
<div id="comment_reply_{{ comment.id }}"></div>