{% load django_markdown %}
{% load markup %}
{% load tags %}
{% if post %}
    <article id="post1" class="post">
        <header>
            <div class="post-header1">
                <h2 class="post-category col-md-9">
                    {% if post.id %}
                        {% for category in post.categories.all %}<a href="#">{{ category.name }}</a>{% if not forloop.last %}&nbsp;&#183;&nbsp;{% endif %}{% endfor %}
                    {% endif %}
                </h2>
                <div class="col-md-3 post-date">{{ post.published|date_from_now|safe }}</div>
            </div>
            <h1 class="post-title"><a href="#">{{ post.title }}</a></h1>
        </header>
        <div class="post-body clearfix">
            {{ post.teaser|medial_file|markdown }}
        </div>
        <div class="post-button">
            <a href="{{ post.get_absolute_url }}">Read more&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
        </div>
    </article>
{% endif %}
