{% load django_markdown %}
{% if post %}
    <article id="post1" class="post">
        <header>
            <h2 class="post-category">
                {% if post.id %}
                    {% for category in post.categories.all %}
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>&nbsp;&nbsp;
                    {% endfor %}
                {% endif %}
            </h2>
            <h1 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        </header>
        <div class="post-body clearfix">
            {{ post.teaser|markdown }}
        </div>
        <div class="post-button">
            <a href="{{ post.get_absolute_url }}">Read more&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
        </div>
    </article>
{% endif %}
