{% extends 'site.html' %}
{% load django_markdown %}
{% load markup %}
{% load tags %}


{% block ext_meta %}
    {% if post %}
        {% url 'blog_post' post.slug as post_url %}
        <meta name="description" content="{{ post.description }}" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{ post.title }}">
        <meta itemprop="description" content="{{ post.description }}">
        <meta itemprop="image" content="{% make_absoulute_url post.social_image %}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="{% make_absoulute_url post.social_image %}">
        <!--<meta name="twitter:site" content="@publisher_handle">-->
        <meta name="twitter:title" content="{{ post.title }}">
        <meta name="twitter:description" content="{{ post.description }}">
        <!--<meta name="twitter:creator" content="@author_handle">-->
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{% make_absoulute_url post.social_image %}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ post.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{% make_absoulute_url post_url %}" />
        <meta property="og:image" content="{% make_absoulute_url post.social_image %}" />
        <meta property="og:description" content="{{ post.description }}" />
        <meta property="og:site_name" content="{{ request.session.global.site_name }}" />
        <meta property="article:published_time" content="{{ post.published }}" />
        <meta property="article:modified_time" content="{{ post.published }}" />
        {% for category in post.categories.all %}<meta property="article:section" content="{{ category.name }}" />{% endfor %}
        {% for tag in post.tags.all %}<meta property="article:tag" content="{{ tag.name }}" />{% endfor %}
        <!--<meta property="fb:admins" content="Facebook numberic ID" />-->
    {% endif %}
{% endblock %}

{% block content %}
    {% if post %}
        <article id="post_{{ post.id }}" class="post">
            <header>
                <div class="post-header1">
                    <h2 class="post-category col-md-9">
                        {% if post.id %}
                            {% for category in post.categories.all %}<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>{% if not forloop.last %}&nbsp;&#183;&nbsp;{% endif %}{% endfor %}
                        {% endif %}
                    </h2>
                    <div class="col-md-3 post-date">{{ post.published|date_from_now|safe }}</div>
                </div>
                <h1 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            </header>
            <div class="post-body clearfix">
                {{ post.teaser|medial_file|markdown }}
                <hr>
                {{ post.content|medial_file|markdown }}
            </div>
        </article>

        <section role="comments" class="comments">
            <h2><a href="#" onclick="moveReply(0); return false;">Comments: {{ post.comment_set.all.count }}</a></h2>
            <div id="reply_0">
                <form name="comment-form" class="comment-form">
                    <input type="hidden" name="parent" value="0">
                    <div class="row">
                        <textarea placeholder="leave commentary" id="comment-message" name="comment-message" onclick="$('#comment-user').css({'display': 'block'}); $('#comment-message').animate({'height': '6em'}, 500);"></textarea>
                    </div>
                    <div class="comment-user" id="comment-user">
                        <div class="row">
                            <div class="col-md-2"><label for="comment-username">Username</label></div>
                            <div class="col-md-10"><input type="text" id="comment-username" name="comment-username" placeholder="enter your name here"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><label for="comment-email">Email</label></div>
                            <div class="col-md-10"><input type="text" id="comment-email" name="comment-email" placeholder="if you want to receive updates, enter your email"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><label for="comment-captcha"></label></div>
                            <div class="col-md-10 comment-code-row">
                                <span class="comment-code-img"><img src="{% url 'captcha' %}" border="0" id="comment-image"></span>
                                <span class="comment-code-update"><a href="#" title="update confirmation code" onclick="$('#comment-image').attr('src', '{% url 'captcha' %}?' + new Date().getTime());return false;"><i class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                <span class="comment-code-text"><input type="text" id="comment-captcha" name="comment-captcha" placeholder="enter confirmation code"><span>
                            </div>
                        </div>
                        <div class="row buttons">
                            <input type="button" value="publish">
                        </div>
                    </div>
                </form>
            </div>
            <div class="comments-tree">
            {% for comment in post.comment_set.all %}
                {% if comment.allowed %}
                <div style="padding-left: {% get_comment_level comment.path 2 %}em;" class="level">
                    <header>
                        <div class="username">{{ comment.username }}</div>
                        <div class="date">{{ comment.created|date_from_now|safe }}</div>
                        <div class="clearfix"></div>
                    </header>
                    <div class="content">
                        {{ comment.content }}
                    </div>
                    <div class="reply">
                        <a href="#" onclick="moveReply({{ comment.id }}); return false;"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                        <div id="reply_{{ comment.id }}"></div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
