{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'libs/jsrender/jsrender.min.js' %}"></script>

{% verbatim %}
    <script id="dataCategoryTemplate" type="text/x-jsrender">
        <table class="data">
        <thead>
            <tr>
                <th>Name</td>
                <th>Slug</td>
                <th>Order</td>
            </tr>
        </thead>
        {{for items}}
            <tr class="{{if fields.deleted}}deleted {{/if}}{{if #getIndex()%2}}even{{/if}}">
                <td>
                    <a href="#dataCategoryForm" onclick="editCategoryData({{:pk}});return false;" class="open-data-form">{{>fields.name}}</a>
                </td>
                <td>{{>fields.slug}}</td>
                <td>{{>fields.order}}</td>
            </tr>
            {{/for}}</table>
    </script>
    <script id="dataCategoryEdit" type="text/x-jsrender">
        <form id="editCategoryForm">{{for items}}
            <div class="fields">
{% endverbatim %}
                {% csrf_token %}
{% verbatim %}
                <input type="hidden" value="{{:pk}}" name="id">
                <input type="hidden" value="{{:fields.deleted}}" name="deleted" id="deleted">
                <label for="txtSlug" class="col-md-2">slug</label>
                <textarea name="txtSlug" id="txtSlug" class="col-md-10 text">{{>fields.slug}}</textarea>
                <br>
                <label for="txtName" class="col-md-2">name</label>
                <textarea name="txtName" id="txtName" class="col-md-10 text">{{>fields.name}}</textarea>
                <br>
                <label for="txtName" class="col-md-2">order</label>
                <textarea name="txtOrder" id="txtOrder" class="col-md-10 text">{{>fields.order}}</textarea>
                <br>
            </div>
            <div class="action">
                    <button onclick="saveCategoryData();" class="btn btn-success"><i class="fa fa-floppy-o"></i> save</button>
                    {{if fields.deleted}}
                    <button onclick="restoreCategoryItem();" class="btn btn-info"><i class="fa fa-undo"></i> restore</button>
                    {{else}}
                    <button onclick="deleteCategoryItem();" class="btn btn-danger"><i class="fa fa-times"></i> delete</button>
                    {{/if}}
            </div>
            {{/for}}
        </form>
    </script>
{% endverbatim %}

    <div class="admin-action">
        <a href="#dataCategoryForm" onclick="editCategoryData(-1);return false;" class="open-data-form"><i class="fa fa-plus"></i> add new category</a>&nbsp;&nbsp;&nbsp;
        <a href="#" onclick="loadCategoryData();return false;"><i class="fa fa-refresh"></i> refresh</a>
    </div>
    <div id="dataCategoryForm" class="window" style="display: none;"></div>
    <div id="dataCategoryContainer" class="dataContainer"></div>

    <script>
        $(document).ready(function(){
            url_category_get_all = '{% url 'admin_category_get' 0 %}';
            url_category_get = '{% url 'admin_category' %}';
            url_category_save = '{% url 'admin_category_save' %}';

            loadCategoryData();
        });
    </script>
{% endblock %}