{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'libs/jsrender/jsrender.min.js' %}"></script>

{% verbatim %}
    <script id="dataPostTemplate" type="text/x-jsrender">
        <table class="data">
        <thead>
            <tr>
                <th>Title</td>
                <th>Slug</td>
                <th>Status</td>
            </tr>
        </thead>
        {{for items}}
            <tr class="{{if #getIndex()%2}}even{{/if}}">
                <td>
                    <a href="#dataPostForm" onclick="editPostData({{:pk}});return false;" class="open-data-form">{{>fields.title}}</a>
                </td>
                <td>{{>fields.slug}}</td>
                <td>{{>fields.statusname}}</td>
            </tr>
        {{/for}}
        </table>
    </script>
    <script id="dataPostEdit" type="text/x-jsrender">
        <form id="editPostForm">{{for items}}
        <input type="hidden" value="{{:pk}}" name="id">
{% endverbatim %}
            {% csrf_token %}
{% verbatim %}
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#meta">meta</a></li>
              <li><a data-toggle="tab" href="#labels">labels</a></li>
              <li><a data-toggle="tab" href="#social">social</a></li>
              <li><a data-toggle="tab" href="#media">media</a></li>
              <li><a data-toggle="tab" href="#content">content</a></li>
              <li><a data-toggle="tab" href="#preview" onclick="loadPostPreview();">preview</a></li>
            </ul>
            <div class="tab-content fields">
                <div id="meta" class="tab-pane fade in active">
                    <label for="txtSlug" class="col-md-2">slug</label>
                    <textarea name="txtSlug" id="txtSlug" class="col-md-10 text">{{>fields.slug}}</textarea>
                    <br>
                    <label for="txtTitle" class="col-md-2">title</label>
                    <textarea name="txtTitle" id="txtTitle" class="col-md-10 text">{{>fields.title}}</textarea>
                    <br>
                    <div class="checkboxes-status col-md-12" style="padding-bottom: 0.4em;">
                        <label class="col-md-2">Status: </label>
                        <div class="col-md-10">
                            <input type="radio" name="status" value="0" id="status_0" class="hide"><a href="#" id="status_btn_0" onclick="PostCheck_status('0');return false;">draft</a>
                            <input type="radio" name="status" value="1" id="status_1" class="hide"><a href="#" id="status_btn_1" onclick="PostCheck_status('1');return false;">hidden</a>
                            <input type="radio" name="status" value="2" id="status_2" class="hide"><a href="#" id="status_btn_2" onclick="PostCheck_status('2');return false;">public</a>
                            <script>PostCheck_status('{{:fields.status}}');{{:'<'}}/script>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <label for="txtPublished" class="col-md-2">published</label>
                        <input type="text" name="txtPublished" id="txtPublished" class="col-md-9 text datetimeMask" value="{{datetime:fields.published}}">
                        <a href="#" class="col-md-1 abtn" onClick="PostPublishedNow(); return false;">now</a>
                    </div>
                    <br>
                    <label for="txtDescription" class="col-md-2">description</label>
                    <textarea name="txtDescription" id="txtDescription" class="col-md-10 text2">{{>fields.description}}</textarea>
                    <br>
                    <label for="txtKeywords" class="col-md-2">keywords</label>
                    <textarea name="txtKeywords" id="txtKeywords" class="col-md-10 text2">{{>fields.keywords}}</textarea>
                    <br>
                    <input type="checkbox" name="sticked" id="sticked"{{if fields.sticked}} checked{{/if}}>
                    <label for="sticked" class="checkbox"> sticked</label>
                    <br>
                </div>
                <div id="labels" class="tab-pane fade">
                    <div class="col-md-12">
                        <label for="txtCategoryNew" class="col-md-2">new notepads</label>
                        <textarea name="txtCategoryNew" id="txtCategoryNew" class="col-md-10 text"></textarea>
                        <br>
                    </div>
                    <div id="dataPostCategory" class="checkboxes"></div>
                    <hr>
                    <div class="col-md-12">
                        <label for="txtTagNew" class="col-md-2">new tags</label>
                        <textarea name="txtTagNew" id="txtTagNew" class="col-md-10 text"></textarea>
                        <br>
                    </div>
                    <div id="dataPostTag" class="checkboxes"></div>
                </div>
                <div id="social" class="tab-pane fade">
                    <label for="txtSocialImage" class="col-md-2">image for social</label>
                    <textarea name="txtSocialImage" id="txtSocialImage" class="col-md-10 text">{{>fields.social_image}}</textarea>
                    <br>
                    <input type="checkbox" name="comments_enabled" id="comments_enabled"{{if fields.comments_enabled}} checked{{/if}}>
                    <label for="comments_enabled" class="checkbox"> comments enable</label>
                    <br>
                    <input type="checkbox" name="comments_moderated" id="comments_moderated"{{if fields.comments_moderated}} checked{{/if}}>
                    <label for="comments_moderated" class="checkbox"> comments moderated</label>
                    <br>
                    <input type="checkbox" name="do_ping" id="do_ping"{{if fields.do_ping}} checked{{/if}}>
                    <label for="do_ping" class="checkbox"> ping</label>
                    <br>
                </div>
                <div id="media" class="tab-pane fade">
                    <div id="dataPostFolder" class="col-md-12"></div>
                    <hr class="col-md-12">
                    <div id="dataPostImage" class="col-md-12"></div>
                </div>
                <div id="content" class="tab-pane fade">
                    <label for="txtTeaser" class="col-md-12">teaser</label>
                    <textarea name="txtTeaser" id="txtTeaser" class="col-md-12 md12">{{>fields.teaser}}</textarea>
                    <br>
                    <label for="txtContent" class="col-md-12">content <a href="#" id="content_prev_block_link" onclick="$('#content_prev_block').show();$('#content_prev_block_link').hide();return false;" style="font-weight: normal;padding-left: 1em;font-size: 0.8em;">show prev version</a></label>
                    <textarea name="txtContent" id="txtContent" class="col-md-12 md18">{{>fields.content}}</textarea>
                    <br>
                    <div class="col-md-12" id="content_prev_block">
                        <label for="txtContent" class="col-md-12">content prev version</label>
                        <textarea name="txtContent_prev" id="txtContent_prev" class="col-md-12 md18" readonly>{{>fields.content_prev}}</textarea>
                        <br>
                    </div>
                    <script>$('#content_prev_block').hide();{{:"<"}}/script>
                </div>
                <div id="preview" class="tab-pane fade">
                    <div id="dataPostPreview"></div>
                </div>
            </div>
            <div class="action">
                <button onclick="savePostData();return false;" class="btn btn-success"><i class="fa fa-floppy-o"></i> save</button>
            </div>
        {{/for}}</form>
        <hr>
        <a href="{% endverbatim %}{% url "admin_post" %}{% verbatim %}"><i class="fa fa-arrow-left"></i> back</a>
    </script>
    <script id="dataPostTemplateCategory" type="text/x-jsrender">
        <label class="col-md-12">notepads</label>
        {{for items}}
            <input type="checkbox" name="_category" value="{{>fields.slug}}" id="category_{{>fields.slug}}"{{if fields.select}} checked{{/if}} class="hide"><a href="#" id="category_btn_{{>fields.slug}}" onclick="PostCheck_category('{{>fields.slug}}');return false;" class="{{if fields.select}}checked{{/if}}">{{:fields.name}}</a>
        {{/for}}
    </script>
    <script id="dataPostTemplateTag" type="text/x-jsrender">
        <label class="col-md-12">tags</label>
        {{for items}}
            <input type="checkbox" name="_tag" value="{{>fields.slug}}" id="tag_{{>fields.slug}}"{{if fields.select}} checked{{/if}} class="hide"><a href="#" id="tag_btn_{{>fields.slug}}" onclick="PostCheck_tag('{{>fields.slug}}');return false;" class="{{if fields.select}}checked{{/if}}">{{:fields.name}}</a>
        {{/for}}
    </script>
    <script id="dataPostTemplateFolder" type="text/x-jsrender">
        <label class="col-md-12">folders</label>
        {{for items}}
            <a href="#" id="folder_{{:pk}}" onclick="loadPostFolderData('{{:pk}}');return false;"><i class="fa fa-folder-o"></i> {{:fields.name}}</a>&nbsp;&nbsp;
        {{/for}}
    </script>
    <script id="dataPostTemplateImage" type="text/x-jsrender">
        <label class="col-md-12">images</label>
        {{for items}}
        <div class="col-md-2 imagePreview" id="imageItem{{:pk}}"
            onmouseover="$('#imagePanel{{:pk}}').css({'display': 'block'});"
            onmouseout="$('#imagePanel{{:pk}}').css({'display': 'none'});"
        >
            <a href="{% endverbatim %}{% url "media_file" %}{% verbatim %}{{:fields.uuid}}/{{if fields.image}}{{:fields.name}}{{else}}icon.jpg{{/if}}" class="fancybox" data-fancybox-group="gallery">
                <img src="{% endverbatim %}{% url "media_file" %}{% verbatim %}{{:fields.uuid}}/?s=110" id="file{{:pk}}" paramLimit="" paramLimitValue="" paramType="{{if fields.image}}img{{else}}file{{/if}}" paramUUID="{{:fields.uuid}}" paramAlign="left" paramNoLink="0" paramBorder="1" />
            </a>
            <div id="imagePanel{{:pk}}" class="imagePanel">
                <div class="imagePanelButtons">
                    <a href="#" onclick="PostSetAlign('{{:pk}}', 'left');return false;" title="left align" id="fileAlignLeft{{:pk}}"><i class="fa fa-align-left"></i></a>
                    <a href="#" onclick="PostSetAlign('{{:pk}}', 'center');return false;" title="center align" id="fileAlignCenter{{:pk}}"><i class="fa fa-align-center"></i></a>
                    <a href="#" onclick="PostSetAlign('{{:pk}}', 'right');return false;" title="right align" id="fileAlignRight{{:pk}}"><i class="fa fa-align-right"></i></a>
                    <a href="#" onclick="PostSetBorder('{{:pk}}');return false;" title="border" id="fileBorder{{:pk}}" class="activeBlue"><i class="fa fa-square-o"></i></a>
                    <i class="fa fa-ellipsis-v" style="font-size: 10px;"></i>
                    <a href="#" onclick="PostSetCode('{{:pk}}');notice('green', 'coped');return false;" title="get code" class="clipboard" id="fileGetCode{{:pk}}" data-clipboard-text="code"><i class="fa fa-picture-o"></i></a>
                    <a href="#" onclick="PostNotice('green', 'coped');return false;" title="get link" class="clipboard" id="fileGetLink{{:pk}}" data-clipboard-text="{% endverbatim %}{% url "media_file" %}{% verbatim %}{{:fields.uuid}}/{{:fields.name}}"><i class="fa fa-link"></i></a>
                    <br>
                    <a href="#" onclick="PostSetLimit('{{:pk}}', 'h');return false;" title="height limit" id="fileLimitHeight{{:pk}}"><i class="fa fa-arrows-v"></i></a>
                    <a href="#" onclick="PostSetLimit('{{:pk}}', 'w');return false;" title="width limit" id="fileLimitWidth{{:pk}}"><i class="fa fa-arrows-h"></i></a>
                    <a href="#" onclick="PostSetLimit('{{:pk}}', 's');return false;" title="square limit" id="fileLimitSquare{{:pk}}"><i class="fa fa-arrows-alt"></i></a>
                    <select style="font-size: 9px;" id="imageParamValue{{:pk}}" onchange="PostSetLimit('{{:pk}}', '')">
                        <option value="24">24</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                    </select>
                    <a href="#" onclick="PostSetNoLink('{{:pk}}');return false;" title="without link" id="fileNoLink{{:pk}}"><i class="fa fa-chain-broken"></i></a>
                </div>
            </div>
        </div>
        {{/for}}
    </script>
{% endverbatim %}
<div class="admin-action">
    <a href="#dataPostForm" onclick="editPostData(-1);return false;" class="open-data-form"><i class="fa fa-plus"></i> add new post</a>&nbsp;&nbsp;&nbsp;
    <a href="#" onclick="loadPostData();return false;"><i class="fa fa-refresh"></i> refresh</a>
</div>
<div id="dataPostForm" class="pageform"></div>
<div id="dataPostContainer" class="dataContainer"></div>
<script>
    $(document).ready(function(){
        url_post_get_all = '{% url 'admin_post_get' 0 %}';
        url_post_get = '{% url 'admin_post' %}';
        url_post_save = '{% url 'admin_post_save' %}';
        url_folder_get_all = '{% url 'admin_folder_get' 0 %}';
        url_files_get = '{% url 'admin_files' %}';
        url_post_get_tag = '{% url 'admin_post_tag_get' %}';
        url_post_get_category = '{% url 'admin_post_category_get' %}';
        url_post_preview = '{% url 'admin_post_preview' %}';

        loadPostData();
    });
</script>
{% endblock %}