# Temp files #
##############
*.pyc
*.pot
*~

# Project specific #
####################
.env
pip-log.txt
settings_local.py

# Packages #
############
*.gz
*.rar
*.tar
*.zip
*.tar.gz

# Logs and databases #
######################
*.log
logs/*.log.*
*.sql
*.sqlite
*.db

# IDE #
.idea
projectFilesBackup