SetHandler python-program
AddHandler mod_python .py
PythonPath "['/home/l/lagovskiy/dev0/public_html'] + sys.path"
PythonHandler django.core.handlers.modpython
SetEnv DJANGO_SETTINGS_MODULE settings
PythonDebug On 
