{% if g.tags %}
    {% if g.tags.count() > 0 %}
        <section>
            <h2><i class="fa fa-tags"></i> Tags</h2>
            <ul class="tag" role="menu">
                {% for tag in g.tags %}{% if tag.post_count > 0 %}
                <li><a href="{{ url_for("blog.posts_by_tag", slug=tag.slug) }}"{% if active_tag %}{% if active_tag.slug==tag.slug %} class="tag-active"{% endif %}{% endif %}>{{ tag.name }}<span>{{ tag.post_count }}</span></a></li>
                {% endif %}{% endfor %}
            </ul>
        </section>
    {% endif %}
{% endif %}