{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sergey Lagovskiy">
    <title>lagovskiy.com</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fa/css/all.min.css ' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>

<div class="container">
    <div class="row align-items-center p-3 px-md-4 mb-3">
        <h5 class="logo mr-md-auto col-12 col-sm-12 col-md-12 col-lg-6">
            <span class="logo-red">S</span><span class="logo-black">ERGEY</span><span class="logo-red">L</span><span
                class="logo-black">AGOVSKIY</span>
        </h5>
        <nav class="main-menu col-12 col-sm-12 col-md-12 col-lg-6 pb-2 px-0 my-2">
            <a class="p-2" href="#">home</a>
            <a class="p-2" href="#">blog</a>
            <a class="p-2" href="#">photo</a>
            <a class="p-2" href="#">projects</a>
            <a class="p-2" href="#">about</a>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <div class="pb-5">
                <header>
                    <div class="post-header row pb-2">
                        <h2 class="post-category m-0 p-0 col-md-9"><a href="#">Админево</a></h2>
                        <div class="post-date col-md-3"><span>5 years ago</span></div>
                    </div>
                    <h1 class="post-title py-3"><a href="#">Как вернуть Gnome Classic Desktop в Ubuntu</a></h1>
                </header>
                <div class="post-body">
                    <p>Обновление MikroTik RouterOS — это лучший способ обеспечить бесперебойную работу вашей сети. А
                        кроме того, обновления ПО позволяют усовершенствовать роутер, добавить новые функции, улучшить
                        качество работы, исправить старые и добавить новые ошибки.</p>
                    <p>Обновляться на новые версии или нет — это личное дело каждого, хоть я и сторонник поговорки
                        "Работает — не трогай", но все же предпочитаю по возможности обновляться. Рассмотрим несколько
                        вариантов установки обновлений на устройства RouterBOARD.</p>
                </div>
                <div class="post-button">
                    <a href="#">Read more&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>

            <hr class="py-3">

            <div class="pb-5">
                <header>
                    <div class="post-header row pb-2">
                        <h2 class="post-category m-0 p-0 col-md-9"><a href="#">Админево</a></h2>
                        <div class="post-date col-md-3"><span>5 years ago</span></div>
                    </div>
                    <h1 class="post-title py-3"><a href="#">Как вернуть Gnome Classic Desktop в Ubuntu</a></h1>
                </header>
                <div class="post-body">
                    <p>Обновление MikroTik RouterOS — это лучший способ обеспечить бесперебойную работу вашей сети. А
                        кроме того, обновления ПО позволяют усовершенствовать роутер, добавить новые функции, улучшить
                        качество работы, исправить старые и добавить новые ошибки.</p>
                    <p>Обновляться на новые версии или нет — это личное дело каждого, хоть я и сторонник поговорки
                        "Работает — не трогай", но все же предпочитаю по возможности обновляться. Рассмотрим несколько
                        вариантов установки обновлений на устройства RouterBOARD.</p>
                </div>
                <div class="post-footer row pt-4">
                    <div class="post-footer-share col-md align-left">
                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script src="https://yastatic.net/share2/share.js"></script>
                        <div class="ya-share2"
                             data-services="vkontakte,facebook,odnoklassniki,evernote,whatsapp,telegram"
                             data-size="s"></div>
                    </div>
                    <div class="post-footer-tag col-md align-center"><i class="fa fa-tags"></i> mikrotik | router os |
                        how to
                    </div>
                    <div class="post-footer-author col-md align-right">Sergey Lagovskiy</div>
                </div>
                <div class="post-comments pt-4">
                    <div class="post-comments-title">Comments: 34</div>
                    <div class="post-comments-form">
                        <form>
                            <div class="form-group">
                                <textarea
                                        placeholder="leave commentary"
                                        id="comment-message"
                                        name="comment-message"
                                        onclick="
                                            $('#comment-user').css({'display': 'block'});
                                            $('#comment-message').animate({'height': '6em'}, 500);
                                        "
                                ></textarea>
                            </div>
                            <div style="display: none" id="comment-user">
                                <div class="form-group row">
                                    <div class="col-3 col-sm-2"><label for="comment-name">Name:</label></div>
                                    <div class="col-9 col-sm-10"><input type="text" id="comment-name" name="comment-name"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3 col-sm-2"><label for="comment-email">Email:</label></div>
                                    <div class="col-9 col-sm-10"><input type="text" id="comment-email" name="comment-email"></div>
                                </div>
                                <div class="form-group align-right">
                                    <button>Send <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="py-3">

        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 pb-0">
            <div class="sub-menu pb-5">
                <div class="sub-menu-title"><i class="far fa-folder"></i> Notepads</div>
                <ul class="sub-menu-items nav flex-column pl-4">
                    <li><a href="#">Админево</a></li>
                    <li><a href="#">Разработка</a></li>
                    <li><a href="#">Фотография</a></li>
                    <li><a href="#">Электроника</a></li>
                    <li><a href="#">Разное</a></li>
                </ul>
            </div>

            <div class="sub-menu pb-5">
                <div class="sub-menu-title"><i class="fa fa-tags"></i> Tags</div>
                <ul class="sub-menu-items nav pl-4">
                    <li><a href="#">Antiquities<span>6</span></a></li>
                    <li><a href="#">C#<span>1</span></a></li>
                    <li><a href="#">DOS<span>6</span></a></li>
                    <li><a href="#">How to<span>16</span></a></li>
                    <li><a href="#">Linux<span>1</span></a></li>
                    <li><a href="#">Mikrotik Router OS<span>14</span></a></li>
                    <li><a href="#">Norton Commander<span>2</span></a></li>
                    <li><a href="#">SQL<span>2</span></a></li>
                    <li><a href="#">VirtualBox<span>6</span></a></li>
                    <li><a href="#">Аквариум<span>1</span></a></li>
                </ul>
            </div>

            <div class="sub-menu pb-5">
                <div class="sub-menu-title"><i class="fa fa-link"></i> Links</div>
                <ul class="sub-menu-items nav flex-column pl-4">
                    <li><a href="#"><i class="fab fa-facebook-square"></i> i'm on facebook</a></li>
                    <li><a href="#"><i class="fab fa-flickr"></i> my photos on flickr</a></li>
                    <li><a href="#"><i class="fab fa-github-square"></i> my code on github</a></li>
                    <li><a href="#"><i class="fas fa-envelope-square"></i> write me email</a></li>
                    <li><a href="#"><i class="fas fa-phone-square-alt"></i> headhunt me</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="footer col-12 col-md align-center">
                Sergey Lagovskiy &copy; 2009-2019
            </div>
        </div>
    </footer>
</div>

</body>
</html>
