<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="DESCTIPTION" />
    <meta name="keywords" content="KEYWORDS, KEYWORDS, KEYWORDS, KEYWORDS" />
    <meta name="author" content="Sergey Lagovskiy" />
    <link rel="shortcut icon" href="favicon.ico" />

    <title>Blog - Sergey Lagovskiy</title>

    <!-- css -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/normalize.min.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="js/jquery-1.10.2.min.js"></script>

    <script src="js/fancybox/jquery.fancybox.pack.js"></script>
    <link href="js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <script type="text/javascript" src="js/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="js/syntaxhighlighter/scripts/shAutoloader.js"></script>
	<link type="text/css" rel="stylesheet" href="js/syntaxhighlighter/styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="js/syntaxhighlighter/styles/shCoreDefault.css" />

    <script src="js/jquery.corner.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body>
    <div class="page">
        <header role="banner">
            <section class="container">
                <h1><a href="/" title="Return to the main page."><b>S</b>ergey<b>L</b>agovskiy</a></h1>

                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <div class="hr"></div>
        <section class="container">
            <section class="content">
                <article>
                    <time datetime="30 июня 2013">30 июня 2013</time>
                    <header>
                        <h2><a href="#">Почему волнообразна линза?</a></h2>
                    </header>

                    <p><a href="http://img-fotki.yandex.ru/get/6001/slagovskiy.5e/0_59f63_4ecec0df_XXXL.jpg" class="img imgleft" title="qwerty"><img src="http://img-fotki.yandex.ru/get/6001/slagovskiy.5e/0_59f63_4ecec0df_S.jpg" /></a>Гетерогенная структура представляет собой вихревой погранслой почти так же, как в резонаторе газового лазера. Лазер исключен по определению. Вселенная трансформирует коллапсирующий квазар - все дальнейшее далеко выходит за рамки текущего исследования и не будет здесь рассматриваться. Гравитирующая сфера концентрирует эксимер, но никакие ухищрения экспериментаторов не позволят наблюдать этот эффект в видимом диапазоне. Колебание коаксиально усиливает тахионный взрыв в полном соответствии с законом сохранения энергии.</p>

                    <div class="reading"><a href="#" class="reading">Continue reading</a></div>

                </article>


                <article>
                    <time datetime="30 июня 2013">30 июня 2013</time>
                    <header>
                        <h2><a href="#">Гомогенная среда как зеркало</a></h2>
                    </header>

                    <p>Плазменное образование ускоряет элементарный вихрь вне зависимости от предсказаний самосогласованной теоретической модели явления. Кристалл, в отличие от классического случая, бифокально отклоняет вращательный взрыв - все дальнейшее далеко выходит за рамки текущего исследования и не будет здесь рассматриваться. Плазменное образование концентрирует фронт одинаково по всем направлениям. Поверхность нейтрализует межатомный электрон, как и предсказывает общая теория поля.</p>

                    <div class="reading"><a href="#" class="reading">Continue reading</a></div>

                </article>


                <article>
                    <header>
                        <h2><a href="#">Вихревой магнит — актуальная национальная задача</a></h2>
                    </header>

                    <p>Плазменное образование, на первый взгляд, непрозрачно. Колебание неверифицируемо выталкивает резонатор, но никакие ухищрения экспериментаторов не позволят наблюдать этот эффект в видимом диапазоне. Вселенная изотермично синхронизует гидродинамический удар одинаково по всем направлениям. Жидкость отталкивает экситон, при этом дефект массы не образуется.</p>

                    <div class="hr"></div>

                    <p><a href="http://img-fotki.yandex.ru/get/5701/slagovskiy.5e/0_59f6d_4d382b27_XXXL.jpg" class="img imgleft" title="qwerty" rel="g1"><img src="http://img-fotki.yandex.ru/get/5701/slagovskiy.5e/0_59f6d_4d382b27_M.jpg" /></a>Гамма-квант инвариантен относительно сдвига. Экситон, несмотря на внешние воздействия, неустойчиво сжимает солитон так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. Экситон трансформирует лептон при любом агрегатном состоянии среды взаимодействия. Солитон, по данным астрономических наблюдений, бифокально возбуждает электронный электрон, тем самым открывая возможность цепочки квантовых превращений.</p>

                    <p class="imgcenter"><a href="http://img-fotki.yandex.ru/get/5502/slagovskiy.5f/0_59f9b_7c6d0045_XXXL.jpg" class="img" title="qwerty" rel="g1"><img src="http://img-fotki.yandex.ru/get/5502/slagovskiy.5f/0_59f9b_7c6d0045_L.jpg" /></a></p>

                    <h1>Header 1</h1>
                    <h2>Header 2</h2>
                    <h3>Header 3</h3>
                    <h4>Header 4</h4>
                    <h5>Header 5</h5>
                    <h6>Header 6</h6>

                    <blockquote>Течение среды, по данным астрономических наблюдений, волнообразно. Силовое поле одномерно переворачивает тангенциальный погранслой, как и предсказывает общая теория поля. Плазма отклоняет элементарный атом в полном соответствии с законом сохранения энергии. Если предварительно подвергнуть объекты длительному вакуумированию, то тело изотермично искажает бозе-конденсат, тем самым открывая возможность цепочки квантовых превращений. Непосредственно из законов сохранения следует, что зеркало неверифицируемо отражает поток вне зависимости от предсказаний самосогласованной теоретической модели явления. Туманность по определению когерентна.</blockquote>

                    <p>
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </p>

                    <p>
                        <ol>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ol>
                    </p>

                    <p class="imgcenter"><a href="http://img-fotki.yandex.ru/get/5901/slagovskiy.5e/0_59f77_3572fdab_XXXL.jpg" class="img" title="qwerty" rel="g1"><img src="http://img-fotki.yandex.ru/get/5901/slagovskiy.5e/0_59f77_3572fdab_L.jpg" /></a></p>

                    <p>Течение среды, по данным астрономических наблюдений, волнообразно. <b>Силовое поле одномерно</b> переворачивает тангенциальный погранслой, как и предсказывает общая теория поля. <i>Плазма отклоняет элементарный атом в полном соответствии с законом сохранения энергии.</i> <a href="http://img-fotki.yandex.ru/get/6001/slagovskiy.5e/0_59f63_4ecec0df_XXXL.jpg" class="img imgright" title="qwerty" rel="g1"><img src="http://img-fotki.yandex.ru/get/6001/slagovskiy.5e/0_59f63_4ecec0df_S.jpg" /></a>Если предварительно подвергнуть объекты <a href="#">длительному вакуумированию</a>, то тело изотермично искажает бозе-конденсат, тем самым открывая возможность цепочки квантовых превращений. Непосредственно из законов сохранения следует, что зеркало неверифицируемо отражает поток вне зависимости от предсказаний самосогласованной теоретической модели явления. Туманность по определению когерентна.</p>

                    <pre class="brush: py; highlight: [3, 5, 6, 8]">
                        # -*- coding: utf-8 -*-
                        from django.conf.urls.defaults import patterns, include, url
                        from django.conf import settings

                        from django.contrib import admin
                        from django.contrib.staticfiles.urls import staticfiles_urlpatterns

                        admin.autodiscover()

                        from settings import *

                        urlpatterns = patterns('',
                            url(r'^$', 'views.index'),
                            url(r'^djadmin/', include(admin.site.urls)),
                            url(r'^admin/', include('apps.admin.urls')),
                            url(r'^blog/', include('apps.blog.urls')),
                        )

                        # static urls will be disabled in production mode
                        urlpatterns += staticfiles_urlpatterns()

                        if settings.DEBUG:
                            urlpatterns += patterns('',
                                url(r'^media/(?P&lt;path>.*)$', 'django.views.static.serve', {
                                    'document_root': settings.MEDIA_ROOT,
                                }),
                           )
                    </pre>

                    <table class="postinfo">
                        <tr>
                            <td><span class="icon-date_12"><time datetime="30 июня 2013">30 июня 2013</time></span></td>
                            <td><span class="icon-user_12"><a href="#">Sergey Lagovskiy</a></span></td>
                            <td><span class="icon-view_12">15</span></td>
                            <td><span class="icon-comment_12">4</span></td>
                        </tr>
                        <tr><td colspan="4">
                            <span class="icon-category_12"><a href="#">Photography</a></span>
                            <span class="icon-tag_12"><a href="#">photo</a>, <a href="#">zenit</a>, <a href="#">film</a></span>
                        </td></tr>
                    </table>

                    <section role="comments">
                        <div class="comments-title">4 comments</div>
                        <a href="#" onclick="moveReply(0); return false;" class="comments-subtitle">Leave comment</a><div id="reply_0" class="reply comments-form"></div>
                        <div class="comments-form" id="comments-form">
                            <form>
                                <table>
                                    <tr><td colspan="2"><textarea rows="1" id="comments-text" name="comments-text" placeholder="Leave comments here" class="input-full" onfocus="openForm1()"></textarea></td></tr>
                                    <tr id="subform1"><td class="label">Name</td><td><input type="text" id="comments-name" name="comments-name" placeholder="Your name" class="input-with-text" onfocus="openForm2()"></td></tr>
                                    <tr id="subform2"><td class="label">E-mail</td><td><input type="text" id="comments-email" name="comments-email" placeholder="Your email" class="input-with-text"></td></tr>
                                    <tr id="subform0"><td colspan="2"><input type="submit" id="comments-submit" name="comments-submit" class="input-button" value="Send"></td></tr>
                                </table>
                            </form>
                        </div>
                        <ul>
                            <li>
                                <h5>Sergey Lagovskiy <time datetime="10 мая 2012" class="icon-date_8">10 мая 2013</time></h5>
                                <p>В программу благоустройства попали места, не подходящие для прогулок, но призванные украсить город. Так, на оживленных развязках Бердского шоссе появились «объекты вертикального озеленения» — крестообразные клумбы с петуньями. Корреспондент НГС.НОВОСТИ увидела в них сходство с этакими зелеными пауками, которые разбежались по необъятному зеленому газону.</p>
                                <span class="icon-reply_16"><a href="#" onclick="moveReply(1); return false;">Reply</a></span><div id="reply_1" class="reply comments-form"></div>
                            </li>
                            <li style="padding-left: 30px;">
                                <h5>Sergey Lagovskiy <time datetime="10 мая 2012" class="icon-date_8">10 мая 2013</time></h5>
                                <p>В программу благоустройства попали места, не подходящие для прогулок, но призванные украсить город. Так, на оживленных развязках Бердского шоссе появились «объекты вертикального озеленения» — крестообразные клумбы с петуньями. Корреспондент НГС.НОВОСТИ увидела в них сходство с этакими зелеными пауками, которые разбежались по необъятному зеленому газону.</p>
                                <span class="icon-reply_16"><a href="#" onclick="moveReply(2); return false;">Reply</a></span><div id="reply_2" class="reply comments-form"></div>
                            </li>
                            <li style="padding-left: 60px;">
                                <h5>Sergey Lagovskiy <time datetime="10 мая 2012" class="icon-date_8">10 мая 2013</time></h5>
                                <p>В программу благоустройства попали места, не подходящие для прогулок, но призванные украсить город. Так, на оживленных развязках Бердского шоссе появились «объекты вертикального озеленения» — крестообразные клумбы с петуньями. Корреспондент НГС.НОВОСТИ увидела в них сходство с этакими зелеными пауками, которые разбежались по необъятному зеленому газону.</p>
                                <span class="icon-reply_16"><a href="#" onclick="moveReply(3); return false;">Reply</a></span><div id="reply_3" class="reply comments-form"></div>
                            </li>
                            <li>
                                <h5>Sergey Lagovskiy <time datetime="10 мая 2012" class="icon-date_8">10 мая 2013</time></h5>
                                <p>В программу благоустройства попали места, не подходящие для прогулок, но призванные украсить город. Так, на оживленных развязках Бердского шоссе появились «объекты вертикального озеленения» — крестообразные клумбы с петуньями. Корреспондент НГС.НОВОСТИ увидела в них сходство с этакими зелеными пауками, которые разбежались по необъятному зеленому газону.</p>
                                <span class="icon-reply_16"><a href="#" onclick="moveReply(4); return false;">Reply</a></span><div id="reply_4" class="reply comments-form"></div>
                            </li>
                        </ul>
                    </section>
                </article>


                <nav id="pagination" class="pagination">
                    <ul>
                        <li class="older"><a href="">&laquo; Older posts</a></li>
                        <li class="newer"><a href="#">Newer posts &raquo;</a></li>
                    </ul>
                </nav>
            </section>

            <aside class="sidebar">
                <section id="categories">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#" class="active">Администрирование</a></li>
                        <li><a href="#">Разработка</a></li>
                        <li><a href="#">Фотография</a></li>
                        <li><a href="#">Разное</a></li>
                    </ul>
                </section>

                <section id="tags">
                    <h3>Tags</h3>
                    <ul>
                        <li><a href="#">mikrotik</a></li>
                        <li><a href="#">lomography</a></li>
                        <li><a href="#">windows</a></li>
                        <li><a href="#">c sharp</a></li>
                        <li><a href="#">sql</a></li>
                    </ul>
                </section>

                <section id="about">
                    <h3>Last posts</h3>
                    <ul>
                        <li><a href="#">Распределение трафика между двумя провайдерами</a></li>
                        <li><a href="#">GPO in Windows 2012 server</a></li>
                        <li><a href="#">Обзор фотоаппарата Зенит ЕТ</a></li>
                        <li><a href="#">Mikrotik - что за зверь такой?</a></li>
                    </ul>
                </section>


            </aside>
        </section>
        <div class="hr"></div>
        <footer role="footer">
            <section class="container">
                <p>Sergey Lagovskiy 2013</p>
            </section>
        </footer>
    </div>
    <script>
        $(document).ready(function(){
            $('#subform0').hide();
            $('#subform1').hide();
            $('#subform2').hide();
            $('#comments-text, #comments-name, #comments-email, #comments-submit').corner("5px");
        });

        $('a.img').fancybox();
        SyntaxHighlighter.autoloader(
            'applescript            js/syntaxhighlighter/scripts/shBrushAppleScript.js',
            'actionscript3 as3      js/syntaxhighlighter/scripts/shBrushAS3.js',
            'bash shell             js/syntaxhighlighter/scripts/shBrushBash.js',
            'coldfusion cf          js/syntaxhighlighter/scripts/shBrushColdFusion.js',
            'cpp c                  js/syntaxhighlighter/scripts/shBrushCpp.js',
            'c# c-sharp csharp      js/syntaxhighlighter/scripts/shBrushCSharp.js',
            'css                    js/syntaxhighlighter/scripts/shBrushCss.js',
            'delphi pascal          js/syntaxhighlighter/scripts/shBrushDelphi.js',
            'diff patch pas         js/syntaxhighlighter/scripts/shBrushDiff.js',
            'erl erlang             js/syntaxhighlighter/scripts/shBrushErlang.js',
            'groovy                 js/syntaxhighlighter/scripts/shBrushGroovy.js',
            'java                   js/syntaxhighlighter/scripts/shBrushJava.js',
            'jfx javafx             js/syntaxhighlighter/scripts/shBrushJavaFX.js',
            'js jscript javascript  js/syntaxhighlighter/scripts/shBrushJScript.js',
            'perl pl                js/syntaxhighlighter/scripts/shBrushPerl.js',
            'php                    js/syntaxhighlighter/scripts/shBrushPhp.js',
            'text plain             js/syntaxhighlighter/scripts/shBrushPlain.js',
            'py python              js/syntaxhighlighter/scripts/shBrushPython.js',
            'ruby rails ror rb      js/syntaxhighlighter/scripts/shBrushRuby.js',
            'sass scss              js/syntaxhighlighter/scripts/shBrushSass.js',
            'scala                  js/syntaxhighlighter/scripts/shBrushScala.js',
            'sql                    js/syntaxhighlighter/scripts/shBrushSql.js',
            'vb vbnet               js/syntaxhighlighter/scripts/shBrushVb.js',
            'xml xhtml xslt html    js/syntaxhighlighter/scripts/shBrushXml.js'
        );
        // !!! replace < to &lt;
        SyntaxHighlighter.all();

        function openForm1()
        {
            $('#comments-text').animate({
                'height': '100px'
                }, 500);
            $('#subform0').fadeIn("slow");
            $('#subform1').fadeIn("slow");
        }

        function openForm2()
        {
            $('#subform2').fadeIn("slow");
        }

        function moveReply(id)
        {
            $('#comments-text').css({
                'height': '100px'
            });
            $('#subform0').show();
            $('#subform1').show();
            $('#subform2').show();
            $('.reply').html('');
            $('#reply_'+id).html($('#comments-form').html());
            $('#comments-form').hide();
        }

    </script>
</body>
</html>