body{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Helvetica, sans-serif;
}

hr{
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #EEE;
}

.icon-999999,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-999999.png");
}

.icon-C0C0C0,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-C0C0C0.png");
}

.icon-0088CC,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-0088CC.png");
}

.icon-FF0000,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-FF0000.png");
}

.icon-387038,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-387038.png");
}


.color-999999, .color-999999:hover{
    color: #999999;
}

.color-C0C0C0, .color-C0C0C0:hover{
    color: #C0C0C0;
}

.color-0088CC, .color-0088CC:hover{
    color: #0088CC;
}

.color-387038, .color-387038:hover{
    color: #387038;
}

.color-FF0000, .color-FF0000:hover{
    color: #FF0000;
}

.color-green{
    color: #408140;
}

.color-green:hover{
    color: #387038;
}

.text-upper{
    text-transform: uppercase;
}


.block_left{
    float: left;
}
.block_right{
    float: right;
}
.block_clear{
    clear: both;
}




.admin{

}
.admin .menu{
    margin-bottom: 0px;
}
.admin_strip{
    background-image: url("../img/strip.gif");
    height: 3px;
}
.admin_login{
    text-align: right;
    margin-bottom: -24px;
    padding-right: 5px;
}
.admin_login .login{

}
.admin_login .login:hover{
    text-decoration: none;
}

.page_head{
    text-transform: uppercase;
    font-family: verdana;
}

.page_head .logo{
    font-size: 36px;
}
.page_head .menu{
    font-size: 16px;
}
.page_head a{
    text-decoration: none;
}
.page_head a:hover{
    text-decoration: none;
}

.page_head .menu li.empty{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}






.page_body
{

}

.page_body .content{
    border-top: #EEEEEE 1px solid;
}

.page_body .panel{
    border-top: #EEEEEE 1px solid;
}

.page_body .menu_title{
    font-size: 24px;
    color: #FF0000;
}

.page_body .panel .menu{
    width: 100%;
    margin-left: 10px;
}

.page_body .panel .menu td{
    padding-bottom: 3px;
}




.page_bottom{
    text-align: center;
    border-top: #EEEEEE 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;
}



.form_login{
    padding-top: 20px;
    margin: auto;
    width: 500px;
}


.post{
    padding-bottom: 20px;
}

.post-head{
    font-family: "Lucida Sans Unicode";
}

.post-bottom{
    font-size: 12px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comment-title{
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
}

.comment-title-date{
    font-size: 14px;
    color: #999999;
    font-weight: normal;
}

.comment-item{
    list-style: none;
    padding-bottom: 30px;
}

.comment-text {
    padding-bottom: 15px;
}

.comment-action {
    font-weight: bold;
}

.comment-count {
    font-size: 22px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 15px;
}

.comment-link {
    font-size: 14px;
    cursor: pointer;
}

.comment-notallowed {
    border-left: 3px solid #0088CC;
    background-color: #EFEFEF;
}

.comment-deleted {
    text-transform: uppercase;
    font-size: 18px;
    color: #999999;
}

.comment-warning {
    font-size: 12px;
    color: #FF0000;
}

.comment-form{
    padding-top: 20px;
}