<section id="categories">
    <h3 style="color: red;">Admin</h3>
    <ul class="list-group">
        <li class="list-group-item">BLOG</li>
        <li class="sub list-group-item"><a href="/admin/blog/category/">category</a></li>
        <li class="sub list-group-item"><a href="/admin/blog/tag/">tag</a></li>
        <li class="sub list-group-item"><a href="/admin/blog/post/">post</a></li>


        <li class="list-group-item"><a href="/admin/banners/">BANNERS</a></li>

        <li class="list-group-item"><a href="http://munin.lagovskiy.com/" target="_blank">GRAPHICS</a></li>

        <li class="list-group-item"><a href="/admin/logout/">logout</a></li>
    </ul>
</section>