<section id="categories">
    <h3>Archive</h3>
    <ul class="list-group">
        {% for key, value in dates.items %}
        <li class="list-group-item">
            <a href="#" id="#" onclick="$('#arch{{ key|date:"Y" }}').removeClass('hide'); return false;">{{ key|date:"Y" }}</a>
            <ul style="padding-left: 30px;" id="arch{{ key|date:"Y" }}" class="hide">
            {% for item in value %}
                <li class="list-group-item">
                    <a href="#" onclick="loadArch('{{ item|date:"Y" }}', '{{ item|date:"m" }}'); return false;">{{ item|date:"Y, F" }}</a>
                    <ul id="arch{{ item|date:"YF" }}"></ul>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>

<script>
    function loadArch(y, m)
    {
        alert(y + ' ' + m);
    }
</script>

