<h2 class="menu_title">Categories</h2>
<ul class="nav nav-pills nav-stacked nav_other">
    <li class="active"><a href="#"><table width="100%"><tr><td>Админево</td><td align="right">23</td></tr></table></a></li>
    <li><a href="#"><table width="100%"><tr><td>Разработка</td><td align="right">26</td></tr></table></a></li>
    <li><a href="#"><table width="100%"><tr><td>Фотография</td><td align="right">12</td></tr></table></a></li>
    <li><a href="#"><table width="100%"><tr><td>Разное</td><td align="right">12</td></tr></table></a></li>
</ul>
