<section id="about">
    <h3>Elsewhere</h3>
    <ul>
        <li style="background-image: url('https://www.facebook.com/favicon.ico'); background-size: 14px; background-position: left; background-repeat: no-repeat; padding-left: 20px;"><a href="https://www.facebook.com/sergey.lagovskiy" target="_blank">Fasebook</a></li>
        <li style="background-image: url('https://plus.google.com/favicon.ico'); background-size: 14px; background-position: left; background-repeat: no-repeat; padding-left: 20px;"><a href="https://plus.google.com/115729875980945790514/posts" target="_blank">Google+</a></li>
        <li style="background-image: url('https://twitter.com/favicon.ico'); background-size: 14px; background-position: left; background-repeat: no-repeat; padding-left: 20px;"><a href="https://twitter.com/slagovskiy/" target="_blank">Twitter</a></li>
        <li style="background-image: url('http://brainstorage.me/favicon.ico'); background-size: 14px; background-position: left; background-repeat: no-repeat; padding-left: 20px;"><a href="http://brainstorage.me/slagovskiy" target="_blank">Brainstorage</a></li>
    </ul>
</section>
