<section id="about">
    <h3>Elsewhere</h3>
    <ul>
        <li><a href="https://www.facebook.com/sergey.lagovskiy" target="_blank"><img src="https://www.facebook.com/favicon.ico" width="14" height="14"> Fasebook</a></li>
        <li><a href="https://plus.google.com/115729875980945790514/posts" target="_blank"><img src="https://plus.google.com/favicon.ico" width="14" height="14"> Google+</a></li>
        <li><a href="https://twitter.com/slagovskiy/" target="_blank"><img src="https://twitter.com/favicon.ico" width="14" height="14"> Twitter</a></li>
        <li><a href="http://brainstorage.me/slagovskiy" target="_blank"><img src="http://brainstorage.me/favicon.ico" width="14" height="14"> Brainstorage</a></li>
    </ul>
</section>
