<div id="medialib" class="medialib">
    <div id="action">
        <button onclick="selectFolder(0); return false;" type="button"><i class="fas fa-sync-alt"></i> Reload</button>
    </div>
    <div id="folders"></div>
    <div id="files"></div>
</div>

<style>
    .medialib button {
        padding: 10px;
        border: 1px solid #79aec8;
        border-radius: 3px;
        background: #79aec8;
        color: white;
    }
    .medialib .form {
        padding: 10px;
        margin: 10px 0px;
        background: #e2e2e2;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        width: 450px;
    }
    .medialib .form .label {
        width: 100px;
    }
    .medialib .form .text {
        width: 320px;
    }
    .medialib .form .form-action {
        padding-top: 10px;
        text-align: right;
    }
    .medialib .form .form-action button {
        padding: 5px;
    }
    .medialib button:hover {
        cursor: pointer;
        background: #417690;
    }
    .medialib table {
        width: 100%;
    }
    .medialib td {
        vertical-align: middle;
    }
</style>


<script>
    $(document).ready(function () {
        selectFolder(0);
    });

    function selectFolder(folder = 0) {
        loadFolders(folder);
        loadFiles(folder);
        $('img').fancybox();
    }


    function loadFiles(folder = 0) {
        var html = '';
        url = "{% url 'api_mediafile' %}";
        if (folder != 0)
            url += "?folder=" + folder;
        $.getJSON(url, function (data) {
            try {
                html += "<table>";
                data.data.forEach(function(item){
                    html += "<tr><td width=\"32\"><a href=\"" + item.url + "\"  data-fancybox=\"gallery\"><img src=\"" + item.url + "?s=32&img=1\" /></a></td><td>" + item.name + "</td></tr>";
                });
                html += "</table>";
                $('#files').html(html);
            } catch (err) {
                console.error(err);
            }
        });
    }

    function loadFolders(id = 0) {
        var html = '';
        if (id!=0){
            html += "<table>";
            html += "<tr><td width=\"32\"><i class=\"fas fa-folder\" style=\"font-size: 32px\"></i></td><td><a href=\"#\" onclick=\"selectFolder(0); return false;\">...</a></td></tr>";
            html += "</table>";
            $('#folders').html(html);
        } else {
            $.getJSON("{% url 'api_mediafolder' %}", function (data) {
                try {
                    html += "<table>";
                    data.data.forEach(function(item){
                        html += "<tr><td width=\"32\"><i class=\"fas fa-folder\" style=\"font-size: 32px\"></i></td><td><a href=\"#\" onclick=\"selectFolder(" + item.id + "); return false;\">" + item.name + "</a></td></tr>";
                    });
                    html += "</table>";
                    $('#folders').html(html);
                } catch (err) {
                    console.error(err);
                }
            });
        }
    }
</script>
