{% load widgets %}
{% if not ajax %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if custom_title %}{{ custom_title }} - {% else %}{{ app_title }}{% if app_title %} - {% endif %}{% endif %}Sergey Lagovskiy</title>
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta name="author" content="Sergey Lagovskiy" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" title="Sergey Lagovskiy" />

    <!-- scripts -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>

    <script src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
    <link href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shAutoloader.js"></script>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCoreDefault.css" />

    <script src="{{ STATIC_URL }}js/jquery.corner.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>

    <!-- bootstrap -->
    <script src="{{ STATIC_URL }}css/bootstrap/js/bootstrap.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- css -->
    <link href="{{ STATIC_URL }}css/normalize.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />

    <!-- ui -->
    <script src="{{ STATIC_URL }}js/ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link href="{{ STATIC_URL }}js/ui/css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />

    <!-- feeds -->
    <link title="blog - last posts" type="application/rss+xml" rel="alternate" href="/rss/">
    <link title="blog - last posts" type="application/atom+xml" rel="alternate" href="/atom/">

    {% block extra_css %}{% endblock %}

    {% block extra_js %}{% endblock %}

    {% block extra_head %}{% endblock %}

    <!-- ADMIN ADMIN ADMIN
    <style type="text/css">
        {% if user.get_profile.canAdmin %}
        body{background-image: url("{{ STATIC_URL }}img/admin_bg.gif");}
        {% else %}
        body{background-image: url("{{ STATIC_URL }}img/user_bg.png");}
        {% endif %}
    </style>
    -->
</head>
<body>
    <div class="page">
        <header role="banner">
            <section class="container">
                <h1><a href="/" title="Return to the main page."><b>S</b>ergey<b>L</b>agovskiy</a></h1>

                <nav>
                    <ul>
                        <li><a href="/"{% ifequal link_app "home" %} class="active"{% endifequal %}>Home</a></li>
                        <li><a href="/blog"{% ifequal link_app "blog" %} class="active"{% endifequal %}>Blog</a></li>
                        <li><a href="/projects/"{% ifequal link_app "projects" %} class="active"{% endifequal %}>Projects</a></li>
                        <li><a href="/about/"{% ifequal link_app "about" %} class="active"{% endifequal %}>About</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <div class="hr"></div>
        <section class="container">
            <section class="content">
{% endif %}
                {% block content %}{% endblock %}
{% if not ajax %}
            </section>

            <aside class="sidebar">
                {% widget_categories_menu %}

                {% widget_tags_menu %}

                {% widget_links_menu %}
            </aside>
        </section>
        <div class="hr"></div>
        <footer role="footer">
            <section class="container">
                <p><a href="mailto:slagovskiy@gmail.com">Sergey Lagovskiy</a> &copy; 2010-{% now "Y" %} &nbsp;&nbsp;<span title="Odyssey">Οδύσσεια</span> 0.1</p>
            </section>
        </footer>
    </div>
    <script>
        $("a.img").fancybox();
        SyntaxHighlighter.autoloader(
            'applescript            js/syntaxhighlighter/scripts/shBrushAppleScript.js',
            'actionscript3 as3      js/syntaxhighlighter/scripts/shBrushAS3.js',
            'bash shell             js/syntaxhighlighter/scripts/shBrushBash.js',
            'coldfusion cf          js/syntaxhighlighter/scripts/shBrushColdFusion.js',
            'cpp c                  js/syntaxhighlighter/scripts/shBrushCpp.js',
            'c# c-sharp csharp      js/syntaxhighlighter/scripts/shBrushCSharp.js',
            'css                    js/syntaxhighlighter/scripts/shBrushCss.js',
            'delphi pascal          js/syntaxhighlighter/scripts/shBrushDelphi.js',
            'diff patch pas         js/syntaxhighlighter/scripts/shBrushDiff.js',
            'erl erlang             js/syntaxhighlighter/scripts/shBrushErlang.js',
            'groovy                 js/syntaxhighlighter/scripts/shBrushGroovy.js',
            'java                   js/syntaxhighlighter/scripts/shBrushJava.js',
            'jfx javafx             js/syntaxhighlighter/scripts/shBrushJavaFX.js',
            'js jscript javascript  js/syntaxhighlighter/scripts/shBrushJScript.js',
            'perl pl                js/syntaxhighlighter/scripts/shBrushPerl.js',
            'php                    js/syntaxhighlighter/scripts/shBrushPhp.js',
            'text plain             js/syntaxhighlighter/scripts/shBrushPlain.js',
            'py python              js/syntaxhighlighter/scripts/shBrushPython.js',
            'ruby rails ror rb      js/syntaxhighlighter/scripts/shBrushRuby.js',
            'sass scss              js/syntaxhighlighter/scripts/shBrushSass.js',
            'scala                  js/syntaxhighlighter/scripts/shBrushScala.js',
            'sql                    js/syntaxhighlighter/scripts/shBrushSql.js',
            'vb vbnet               js/syntaxhighlighter/scripts/shBrushVb.js',
            'xml xhtml xslt html    js/syntaxhighlighter/scripts/shBrushXml.js'
        );
        // !!! replace < to &lt;
        SyntaxHighlighter.all();
    </script>
</body>
</html>
{% endif %}