{% extends 'oadmin/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'libs/markup/markup.min.js' %}"></script>


{% verbatim %}
    <div id="dataTemplate" class="hide">
        <ul>{{.}}
            {{if fields.deleted}}
            <li class="deleted">
            {{else}}
            <li>
            {{/if}}
                <a href="#dataForm" onclick="editData({{pk}});return false;" class="open-data-form">{{fields.name}} [{{fields.slug}}]</a>
            </li>
        {{/.}}</ul>
    </div>
    <div id="dataEdit" class="hide">
        <form id="editForm">{{.}}
            <div class="fields">
{% endverbatim %}
                {% csrf_token %}
{% verbatim %}
                <input type="hidden" value="{{pk}}" name="id">
                <input type="hidden" value="{{fields.deleted}}" name="deleted" id="deleted">
                <label for="txtSlug">slug</label>
                <textarea name="txtSlug" id="txtSlug" class="text">{{fields.slug}}</textarea>
                <br>
                <label for="txtName">name</label>
                <textarea name="txtName" id="txtName" class="text">{{fields.name}}</textarea>
                <br>
            </div>
            <div class="action">
                <button onclick="saveData();" class="btn btn-success"><i class="fa fa-floppy-o"></i> save</button>
                {{if fields.deleted}}
                <button onclick="restoreItem();" class="btn btn-info"><i class="fa fa-undo"></i> restore</button>
                {{else}}
                <button onclick="deleteItem();" class="btn btn-danger"><i class="fa fa-times"></i> delete</button>
                {{/if}}
            </div>
        {{/.}}</form>
    </div>
{% endverbatim %}

<div class="oadmin-action">
    <a href="#dataForm" onclick="newData();return false;" class="open-data-form"><i class="fa fa-plus"></i> add new tag</a>&nbsp;&nbsp;&nbsp;
    <a href="#" onclick="loadData();return false;"><i class="fa fa-refresh"></i> refresh</a>
</div>
<div id="dataForm" class="dataForm" style="display: none;"></div>
<div id="dataContainer" class="dataContainer"></div>

<script>
    function loadData()
    {
        $.ajax({
            url :'{% url 'oadmin_tag_get' 0 %}',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $('#dataTemplate').html();
            $('#dataContainer').html(Mark.up(template, jdata));
        });
    }

    function editData(key)
    {
        $.ajax({
            url :'{% url 'oadmin_tag' %}' + key + '/',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $('#dataEdit').html();
            $('#dataForm').html(Mark.up(template, jdata));
        });

        $('.open-data-form').fancybox({
            padding: 0,
            type: 'inline',
            title: '',
            modal: false,
            autoSize: true
        });
    }

    function newData(key)
    {
        var data = "[{\"pk\": -1, \"fields\": {\"slug\": \"new_tag\",\"name\": \"new tag\",\"deleted\": false}}]";
        var jdata = jQuery.parseJSON(data);
        var template = $('#dataEdit').html();
        $('#dataForm').html(Mark.up(template, jdata));

        $('.open-data-form').fancybox({
            padding: 0,
            type: 'inline',
            title: '',
            modal: false,
            autoSize: true
        });
    }

    function deleteItem() {
        $("#dataForm form #deleted").val('true');
        saveData();
    }

    function restoreItem() {
        $("#dataForm form #deleted").val('false');
        saveData();
    }

    function saveData() {
        $.ajax({
                type: 'POST',
                url: '{% url 'oadmin_tag_save' %}',
                data: $("#dataForm form").serialize()
            })
            .done(function(data){
                if(data=='ok') {
                    notice('green', 'saved');
                    $.fancybox.close();
                    loadData();
                }
                else {
                    notice('red', data);
                }
            })
            .fail(function(){
                notice('red', 'data transfer error');
            });
        $("#dataForm form").submit(function(){
            return false;
        });
    }

    $(document).ready(function(){
        loadData();
    });
</script>
{% endblock %}