{{ message }}
<div style="display: inline;">
    {% for image in images %}
        <table style="display: inline-table;">
            <tr>
                <td>
                    <span style="position: absolute; background: url('{{ STATIC_URL }}img/white_a150.png'); width: 75px; padding-left: 3px;">
                        <a href="#" class=""><i class="icon-pencil" onclick="editImage({{ image.id }}); return false;"></i></a>
                        <a href="#" class=""><i class="icon-check"></i></a>
                        <a href="#" class="" onclick="deleteImage('{{ image.id }}'); return false;"><i class="icon-remove"></i></a>
                        <a href="{{ image.img_l }}" class="img" title="{{ image.description }}" rel="gallery"><i class="icon-search"></i></a>
                    </span>
                    <img src="{{ image.img_xxs }}" border="0" title="{{ image.description }}">
                </td>
            </tr>
        </table>
    {% endfor %}
</div>
<script>
    function deleteImage(id)
    {
        if (confirm('Delete image?'))
        {
            $.ajax({
                    url: '/admin/blog/postimage/delete/' + id + '/',
                    cache: false,
                    success: function(data){
                        loadImages();
                    },
                    error: function(e, xhr){
                        msg_error("Error","delete image " + xhr);
                    }
                }
            )
        }
    }


</script>