<section id="about">
    <h3>Elsewhere</h3>
    <ul class="list-group">
        <li class="list-group-item icon-facebook_14"><a href="https://www.facebook.com/sergey.lagovskiy" target="_blank">Fasebook</a></li>
        <li class="list-group-item icon-flickr_14"><a href="http://www.flickr.com/photos/slagovskiy/" target="_blank">Flickr</a></li>
        <li class="list-group-item icon-gp_14"><a href="https://plus.google.com/115729875980945790514/posts" target="_blank">Google+</a></li>
        <li class="list-group-item icon-twitter_14"><a href="https://twitter.com/slagovskiy/" target="_blank">Twitter</a></li>
        <li class="list-group-item icon-bs_14"><a href="http://brainstorage.me/slagovskiy" target="_blank">Brainstorage</a></li>
        <li class="list-group-item icon-github_14"><a href="https://github.com/slagovskiy" target="_blank">Github</a></li>
    </ul>
</section>
