<section>
    <h2><i class="fa fa-cube"></i> Main</h2>
    <ul role="menu">
        <li><a href="">Dashboard</a></li>
    </ul>
</section>

<section>
    <h2><i class="fa fa-cube"></i> Blog</h2>
    <ul role="menu">
        <li><a href="{% url 'admin_post' %}">Posts</a></li>
        <li><a href="/">Comments</a></li>
        <li><a href="{% url 'admin_category' %}">Notepads</a></li>
        <li><a href="{% url 'admin_tag' %}">Tags</a></li>
    </ul>
</section>

<section>
    <h2><i class="fa fa-cube"></i> Links</h2>
    <ul role="menu">
        <li><a href="{% url 'admin_mylink' %}">My links</a></li>
    </ul>
</section>
