{% extends "admin/base.html" %}
{% load static %}

{% block content %}
    <div class="loginForm">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label class="control-label" for="txtUsername">Username</label>
            <input type="text" id="txtUsername" name="txtUsername">
            <label class="control-label" for="txtPassword">Password</label>
            <input type="password" id="txtPassword" name="txtPassword">
            <div class="actions">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}