.header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px;;
}

.head-line {
    width: 100%;
}

.navbar-brand {
    float: none;
}

.navbar-toggle {
    background-color: lightgray;
    margin-left: 15px;
    margin-right: 0px
}

.navbar-toggle .icon-bar {
    background-color: gray;
}

.navbar-nav>li>a:hover {
    background: none;
}

.logo {
    max-width: 100%;
    border: 0px;
}

body {
    background-color: #FCFCFC;
    color: #18191a;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 200%;
    vertical-align: baseline;
}

.navbar-nav li
{
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: .8;
}

.navbar-nav li a
{
    color: #000000;
}

.navbar-nav li a:hover
{
    color: #F52A0E;
}

.navbar-nav li a.active
{
    color: #F52A0E;
    background: none;
}

.sidebar {
}

.sidebar h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    color: inherit;
}

.sidebar .badge {
    font-size: 10px;
    border-radius: 5px;
    font-weight: normal;
    margin-top: 5px;
    background-color: #999999;
}

.list-group-item {
    border: 0px;
    padding: 5px 15px;
}

footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}



/***************************************************************/

a
{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

a:hover
{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

a.active
{
    background: #fff4cc;
}
