.admin-action {
    padding-bottom: 1em;
}

.dataContainer {
    font-size: 1.2em;
}

.dataContainer .loader{
    width: 512px;
    height: 512px;
    background-image: url("../img/ajax-loader-big-grey.gif");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.dataContainer ul {
    padding-left: 0.8em;
    list-style: none;
    line-height: 1.6em;
}

table.data {
    width: 100%;
    border: 1px solid #E5E5E5;
    border-spacing: 0;
    margin-bottom: 2em;
}

table.data thead tr {
    background-color: #F5F5F5;
}

table.data thead tr:hover {
    background-color: #F5F5F5;
}

table.data th {
    line-height: 2.2em;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
}

table.data tr.even {
    background-color: #F9F9F9;
}

table.data tr:hover {
    background-color: #F1F1F1;
}

table.data td {
    font-size: .9em;
    line-height: 2em;
    padding-left: 0.5em;
}

.loginForm {
    width: 25em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
}

.loginForm label {
    width: 100%;
}

.loginForm .actions {
    text-align: center;
}

.loginForm input[type=text],
.loginForm input[type=password] {
    width: 100%;
    border: 1px solid #E0E0E0;
    padding: 0.3em;
    margin-bottom: 1em;
}

.fields {
    margin-bottom: 2em;
}

.fields .col-md-1,
.fields .col-md-2,
.fields .col-md-3,
.fields .col-md-8,
.fields .col-md-9,
.fields .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.fields label {
    line-height: 2em;
}

.fields .abtn {
    line-height: 2em;
    text-align: center;
}

.fields label.checkbox {
    padding-bottom: 1em;
    vertical-align: top;
    display: inline;
    padding-left: 0.5em;
}

.fields textarea, .fields input[type=text], .fields input[type=password] {
    border: 1px solid #E0E0E0;
    padding: 0.3em;
    margin-bottom: 1em;
}

.fields input[type=checkbox] {
    line-height: 2em;
    margin-top: 0.6em;
}

.fields textarea {
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.fields select[multiple],
.fields select[size] {
    height: 18em;
    width: 20em;
}

.fields textarea.text {
    height: 2em;
}

.fields textarea.text2 {
    height: 4em;
}

.fields textarea.text3 {
    height: 6em;
}

.fields textarea.md12 {
    height: 12em;
    width: 100%;
    background-image: url("../img/bg-editor-markdown.png");
    background-repeat: no-repeat;
    padding-left: 2.5em !important;
}

.fields textarea.md18 {
    height: 18em;
    width: 100%;
    background-image: url("../img/bg-editor-markdown.png");
    background-repeat: no-repeat;
    padding-left: 2.5em !important;
}

.fields .filePicker {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}
.fields .dropbox {
    border: 2px dashed #000000;
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.fields .dropbox.active {
    border: 4px dashed #FF0000;
}

.fields .progressTrough {
    border: 1px solid #000000;
    border-radius: 4px;
    height: 24px;
    width: 100%;
    position: relative;
    margin-top: 0.6em;
}

.fields .progressBar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
    color: #FFFFFF;
    text-align: center;
}

.checkboxes {
    line-height: 3em;
}

.checkboxes label {
    padding-bottom: 0.7em;
}

.checkboxes a {
    padding: 0.5em;
    border: 1px solid #006ED2;
    border-radius: 4px;
}

.checkboxes a:hover {
    color: #006ED2;
}

.checkboxes a.checked {
    background-color: #006ED2;
    color: #FFFFFF;
}

.window {
    width: 56em;
    padding: 2em;
}

.pageform {
    padding-bottom: 2em;
}

.pageform .tab-pane {
    padding-top: 2em;
}

.action {
    text-align: center;
}

.action input[type=button]{
    text-transform: uppercase;
    padding-left: 2em;
    padding-right: 2em;
}

.deleted {
    text-decoration: line-through;
}
