.admin-action {
    padding-bottom: 1em;
}

.dataContainer {
    font-size: 1.2em;
}

.dataContainer ul {
    padding-left: 0.8em;
    list-style: none;
    line-height: 1.6em;
}

table.data {
    width: 100%;
    border: 1px solid #E5E5E5;
    border-spacing: 0;
    margin-bottom: 2em;
}

table.data thead tr {
    background-color: #F5F5F5;
}

table.data thead tr:hover {
    background-color: #F5F5F5;
}

table.data th {
    line-height: 2.2em;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
}

table.data tr.even {
    background-color: #F9F9F9;
}

table.data tr:hover {
    background-color: #F1F1F1;
}

table.data td {
    font-size: .9em;
    line-height: 2em;
    padding-left: 0.5em;
}

.loginForm {
    width: 25em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
}

.loginForm label {
    width: 100%;
}

.loginForm .actions {
    text-align: center;
}

.loginForm input[type=text],
.loginForm input[type=password] {
    width: 100%;
    border: 1px solid #E0E0E0;
    padding: 0.3em;
    margin-bottom: 1em;
}

label.checkbox {
    padding-bottom: 1em;
    vertical-align: top;
    display: inline;
    padding-left: 0.5em;
}

textarea, input[type=text], input[type=password] {
    border: 1px solid #E0E0E0;
    padding: 0.3em;
    margin-bottom: 1em;
}

input[type=checkbox] {
    margin-left: 1em;
}

textarea.text {
    height: 2em;
}

textarea.bigtext {
    height: 12em;
    width: 100%;
}

textarea.bigtext2 {
    height: 18em;
    width: 100%;
}

.window {
    width: 56em;
    padding: 2em;
}

.window .fields {
    margin-bottom: 2em;
}

.window .action {
    text-align: center;
}

.window .action input[type=button]{
    text-transform: uppercase;
    padding-left: 2em;
    padding-right: 2em;
}

.deleted {
    text-decoration: line-through;
}
