.oadmin-top-menu {
    text-transform: uppercase;
    font-size: 1.5em;
}

.oadmin-top-menu ul {
    padding-left: 0;
}

.oadmin-top-menu li{
    display: inline;
    letter-spacing: 1px;
}

.oadmin-action {
    padding-bottom: 1em;
}

.dataContainer {
    font-size: 1.2em;
}

.dataContainer ul {
    padding-left: 0.8em;
    list-style: none;
    line-height: 1.6em;
}

table.data {
    width: 100%;
    border: 1px solid #E5E5E5;
    border-spacing: 0;
}

table.data thead tr {
    background-color: #F5F5F5;
}

table.data thead tr:hover {
    background-color: #F5F5F5;
}

table.data th {
    line-height: 2.2em;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
}

table.data tr:hover {
    background-color: #F1F1F1;
}

table.data tr.even {
    background-color: #F9F9F9;
}

table.data td {
    font-size: .9em;
    line-height: 2em;
    padding-left: 0.5em;
}

.dataForm {
    padding: 2em;
}

.dataForm label {
    width: 6em;
    padding-bottom: 1em;
    vertical-align: top;
}
.dataForm input[type=text], .dataForm textarea {
    width: 45em;
    padding: 2px;
    border-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    background-color: transparent;
}

textarea.text {
    height: 2em;
}

.dataForm .fields {
    margin-bottom: 1em;
}

.dataForm .action {
    text-align: center;
}

.dataForm .action input[type=button]{
    text-transform: uppercase;
    padding-left: 2em;
    padding-right: 2em;
}

.deleted {
    text-decoration: line-through;
}
