<div class="comment-form" id="comment_form">
    <form class="well span4" action="/blog/comment/save/{{ post.id }}/" method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="_description">Name<sup>*</sup></label>
            <div class="controls">
                <input type="text" id="_name" name="_name" placeholder="Type your name here..." value="" class="span4">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="_description">Email</label>
            <div class="controls">
                <input type="text" id="_email" name="_email" placeholder="Type your email here..." value="" class="span4">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" name="_subscribe" value="True"> Subscribe for update
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="_title">Message</label>
            <div class="controls">
                <textarea id="_message" name="_message" class="span4" rows="5"></textarea>
            </div>
        </div>

        <div class="control-group">
            <input type="hidden" id="_reply" name="_reply" value="0">
            <input type="submit" id="_save" name="_save" class="btn btn-success" value="Save comment">
            <a href="#" id="_clear" class="btn" onclick="return false;">Clear form</a>
        </div>

    </form>
</div>

<script>
    function move_form(id)
    {
        $('#reply_form_'+id).html($('#comment_form').html());
        $('#reply_form_'+id).show();
        $('#comment_form').hide();
    }

    move_form(0);
</script>