{% load markup %}
{% load mathitils %}
{% if comment %}
    {% if comment.deleted %}
        <li class="comment-item">
            <span class="comment-deleted">Comment was deleted by the administrator / Комментарий был удален администратором <a href="#comment{{ comment.id }}" name="comment{{ comment.id }}" class="comment-link">#</a></span>
        </li>
    {% else %}
        {% if comment.allowed or user.get_profile.canCommentAllow %}
            <li
                    id="comment_body_{{ comment.id }}"
                    {% if comment.allowed %}
                    style="padding-left: {{ comment.level|mul:30 }}px;" class="comment-item"
                    {% else %}
                    style="padding-left: {{ comment.level|mul:30|add:5 }}px;" class="comment-notallowed comment-item"
                    {% endif %}
                    >
                <div class="comment-title">
                    {{ comment.name }}&nbsp;
                    <span class="comment-title-date">{{ comment.published }}</span>&nbsp;
                    <a href="#comment{{ comment.id }}" name="comment{{ comment.id }}" class="comment-link">#</a>
                </div>
                <div class="comment-text">
                    {{ comment.content|escape|linebreaksbr }}
                </div>
                <div class="comment-actions">
                    {% if comment.allowed %}<i class="icon-share-alt icon-0088CC"></i> <a href="#" class="color-0088CC" onclick="moveForm({{ comment.id }});return false;">Reply</a>&nbsp;&nbsp;&nbsp;{% endif %}
                    {% if not comment.allowed and user.get_profile.canCommentAllow %}<i class="icon-check icon-387038"></i> <a href="/admin/blog/comment/allow/{{ comment.id }}/?backlink=/blog/view/{{ post.slug }}/#comment{{ comment.id }}" class="color-387038">Allow</a>&nbsp;&nbsp;&nbsp;{% endif %}
                    {% if user.get_profile.canCommentDelete %}<i class="icon-remove icon-FF0000"></i> <a href="/admin/blog/comment/delete/{{ comment.id }}/?backlink=/blog/view/{{ post.slug }}/#comment{{ comment.id }}" class="color-FF0000">Delete</a>&nbsp;&nbsp;&nbsp;{% endif %}
                </div>
            </li>
        {% else %}
            {% if not comment.allowed and not uesr.get_profile.canCommentAllow and comment.id in comments %}
                <li id="comment_body_{{ comment.id }}" style="padding-left: {{ comment.level|mul:30 }}px;" class="comment-item">
                    <div class="comment-title">
                        {{ comment.name }}&nbsp;
                        <span class="comment-title-date">{{ comment.published }}</span>&nbsp;
                        <a href="#comment{{ comment.id }}" name="comment{{ comment.id }}" class="comment-link">#</a>
                    </div>
                    <div class="comment-text">
                        {{ comment.content|escape|linebreaksbr }}
                    </div>
                    <div class="comment-actions">
                        <div class="comment-warning">Comments will be published after validation / Комментарий будет опубликован после проверки</div>
                    </div>
                </li>
            {% endif %}
        {% endif %}
        <div class="comment-reply-form" id="reply_form_{{ comment.id }}"></div>
        <div class="comment-child" id="child_{{ comment.id }}"></div>
    {% endif %}
{% endif %}
