{% extends "base.html" %}
{% load markup %}
{# load pytils_numeral #}
{% block content %}
    {% for post in posts %}
        <div class="post" id="post_{{ post.id }}">
            <div class="post-head">
                <h1><a href="/blog/view/{{ post.slug }}/" class="color-green">{{ post.title }}</a></h1>
            </div>
            <hr>
            {{ post.excerpt|markdown }}
            <a href="/blog/view/{{ post.slug }}/" class="btn">Read more</a>
            {% include "blog/post_bottom.html" %}
        </div>
    {% endfor %}

    <script>
        $('#tag_{{ tags.id }}').addClass('active');
    </script>
{% endblock %}


