{% extends "base.html" %}
{% load markup %}
{# load pytils_numeral #}

{% block extra_head %}
{% ifequal group "tag" %}
    <link title="blog - last posts by tag" type="application/rss+xml" rel="alternate" href="/rss/tag/{{ filter }}/">
    <link title="blog - last posts by tag" type="application/atom+xml" rel="alternate" href="/atom/tag/{{ filter }}/">
{% endifequal %}
{% ifequal group "category" %}
    <link title="blog - last posts" type="application/rss+xml" rel="alternate" href="/rss/category/{{ filter }}/">
    <link title="blog - last posts" type="application/atom+xml" rel="alternate" href="/atom/category/{{ filter }}/">
{% endifequal %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article>
            <time datetime="{{ post.published|date:"F jS, Y H:i" }}">{{ post.published|date:"F jS, Y H:i" }}</time>
            <header>
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            </header>

            <p>{{ post.teaser|markdown }}</p>

            <div class="reading"><a href="{{ post.get_absolute_url }}" class="reading">Continue reading</a></div>

        </article>
    {% endfor %}

    {% ifnotequal posts.paginator.num_pages 1 %}
        <nav id="pagination" class="pagination">
            <ul>
                {% if posts.has_previous %}
                <li class="older"><a href="">&laquo; Older posts</a></li>
                {% endif %}
                {% if posts.has_next %}
                <li class="newer"><a href="#">Newer posts &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endifnotequal %}
    <script>
        $(document).ready(function() {
            {% ifequal group 'tag' %}
            $('#tag_{{ group_id }}').addClass('active');
            {% endifequal %}
            {% ifequal group 'category' %}
            $('#category_{{ group_id }}').addClass('active');
            {% endifequal %}
        });
    </script>
{% endblock %}


