{% extends "base.html" %}
{% load markup %}
{% block content %}
    <div class="post" id="post_{{ post.id }}">
        <div class="post-head">
            <h1 class="color-green">{{ post.title }}</h1>
        </div>
        <hr>
        {{ post.excerpt|markdown }}
        <hr>
        {{ post.content|markdown }}
        {% include "blog/post_bottom.html" %}
        <ul>{% for comment in post.comments %}
            {% if comment.allowed or user.get_profile.canCommentAllow or show_not_allowed %}<li id="comment_body_{{ comment.id }}"{% if comment.allowed %} style="padding-left: {{ comment.level }}px;"{% else %} style="padding-left: {{ comment.level|add:5 }}px;" class="notallowed"{% endif %}>
                {% include "blog/comment_item.html" %}
                </li>{% endif %}
        {% endfor %}</ul>
        <ul>
            <div class="comment_action">
                <div class="comment_child" id="child_0"></div>
                {% if post.comments_enabled %}<h3><a name="add_comment" title="Leave a comment" onclick="move_form(0);return false;" style="cursor: pointer;">Leave comment</a></h3>{% endif %}
                <div class="comment_reply_form hide" id="reply_form_0"></div>
            </div>
        </ul>
        {% if post.comments_enabled %}{% include "blog/comment_form.html" %}{% endif %}
    </div>
{% endblock %}


