{% extends "base.html" %}
{% load markup %}
{% load mathitils %}
{% block content %}
    <div class="post" id="post_{{ post.id }}">
        <div class="post-head">
            <h1 class="color-green">{{ post.title }}</h1>
        </div>
        <hr>
        {{ post.excerpt|markdown }}
        <hr>
        {{ post.content|markdown }}
        {% include "blog/post_bottom.html" %}
        <div class="comment-count">{{ post.comment_count }} comment{% ifnotequal post.comment_count 1 %}s{% endifnotequal %}</div>
        <hr>
        <ul>{% for comment in post.comments %}
            {% if comment.allowed or user.get_profile.canCommentAllow %}
                <li
                    id="comment_body_{{ comment.id }}"
                    {% if comment.allowed %}
                        style="padding-left: {{ comment.level|mul:30 }}px;" class="comment-item"
                    {% else %}
                        style="padding-left: {{ comment.level|mul:30|add:5 }}px;" class="comment-notallowed comment-item"
                    {% endif %}
                >
                {% include "blog/comment_item.html" %}
                </li>{% endif %}
        {% endfor %}</ul>
        <ul>
            <div class="comment_action">
                <div class="comment_child" id="child_0"></div>
                {% if post.comments_enabled %}<h3><a name="add_comment" title="Leave a comment" onclick="moveForm(0);return false;" style="cursor: pointer;">Leave comment</a></h3>{% endif %}
                <div class="comment-reply-form hide" id="reply_form_0"></div>
            </div>
        </ul>
        {% if post.comments_enabled %}{% include "blog/comment_form.html" %}{% endif %}
    </div>

    <script>
        function moveForm(id)
        {
            $('.comment-reply-form').html('');
            $('#reply_form_'+id).html($('#comment_form').html());
            $('#reply_form_'+id).show();
            $('#reply_form_'+id).find('form').find('#_reply').val(id);
            $('#comment_form').hide();
        }

        function init()
        {
            moveForm(0);
        }

        init();
    </script>
{% endblock %}


