<section>
    <h2><i class="fa fa-link"></i> Links</h2>
    <ul role="menu">
        <li><a href="https://www.facebook.com/sergey.lagovskiy" target="_blank"><i class="fa fa-facebook-official"></i> i on facebook</a></li>
        <li><a href="https://www.flickr.com/photos/slagovskiy/" target="_blank"><i class="fa fa-flickr"></i> my photos on flickr</a></li>
        <li><a href="https://github.com/slagovskiy" target="_blank"><i class="fa fa-github-square"></i> my code on github</a></li>
        <li><a href="mailto:slagovskiy@gmail.com"><i class="fa fa-envelope-square"></i> write me email</a></li>
        <li><a href="http://novosibirsk.hh.ru/resume/4f27274aff01958a560039ed1f7a44564d3256" target="_blank"><i class="fa fa-user"></i> headhunt me</a></li>
    </ul>
</section>