{% load widgets %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if custom_title %}{{ custom_title }} - {% else %}{{ app_title }}{% if app_title %} - {% endif %}{% endif %}Sergey Lagovskiy</title>
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta name="author" content="Sergey Lagovskiy" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" title="Sergey Lagovskiy" />

    <!-- css -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/normalize.min.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>

    <script src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
    <link href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shAutoloader.js"></script>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCoreDefault.css" />

    <script src="{{ STATIC_URL }}js/jquery.corner.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>

    {% block extra_css %}{% endblock %}

    {% block extra_js %}{% endblock %}

    {% block extra_head %}{% endblock %}

    <!-- ADMIN ADMIN ADMIN
    <style type="text/css">
        {% if user.get_profile.canAdmin %}
        body{background-image: url("{{ STATIC_URL }}img/admin_bg.gif");}
        {% else %}
        body{background-image: url("{{ STATIC_URL }}img/user_bg.png");}
        {% endif %}
    </style>
    -->
</head>
<body>
    <div class="page">
        <header role="banner">
            <section class="container">
                <h1><a href="/" title="Return to the main page."><b>S</b>ergey<b>L</b>agovskiy</a></h1>

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/about/">About</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <div class="hr"></div>
        <section class="container">
            <section class="content">
                {% block content %}{% endblock %}
            </section>

            <aside class="sidebar">
                {% widget_categories_menu %}

                {% widget_tags_menu %}

                {% widget_links_menu %}

                <section id="categories">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#" class="active">Администрирование</a></li>
                        <li><a href="#">Разработка</a></li>
                        <li><a href="#">Фотография</a></li>
                        <li><a href="#">Разное</a></li>
                    </ul>
                </section>

                <section id="tags">
                    <h3>Tags</h3>
                    <ul>
                        <li><a href="#">mikrotik</a></li>
                        <li><a href="#">lomography</a></li>
                        <li><a href="#">windows</a></li>
                        <li><a href="#">c sharp</a></li>
                        <li><a href="#">sql</a></li>
                    </ul>
                </section>

                <section id="about">
                    <h3>Last posts</h3>
                    <ul>
                        <li><a href="#">Распределение трафика между двумя провайдерами</a></li>
                        <li><a href="#">GPO in Windows 2012 server</a></li>
                        <li><a href="#">Обзор фотоаппарата Зенит ЕТ</a></li>
                        <li><a href="#">Mikrotik - что за зверь такой?</a></li>
                    </ul>
                </section>


            </aside>
        </section>
        <div class="hr"></div>
        <footer role="footer">
            <section class="container">
                <p><a href="mailto:slagovskiy@gmail.com">Sergey Lagovskiy</a> &copy; 2010-{% now "Y" %} &nbsp;&nbsp;<span title="Odyssey">Οδύσσεια</span> 1.0</p>
            </section>
        </footer>
    </div>
    <script>
        $(document).ready(function(){
            $('#subform0').hide();
            $('#subform1').hide();
            $('#subform2').hide();
            $('#comments-text, #comments-name, #comments-email, #comments-submit').corner("5px");
        });

        $('a.img').fancybox();
        SyntaxHighlighter.autoloader(
            'applescript            js/syntaxhighlighter/scripts/shBrushAppleScript.js',
            'actionscript3 as3      js/syntaxhighlighter/scripts/shBrushAS3.js',
            'bash shell             js/syntaxhighlighter/scripts/shBrushBash.js',
            'coldfusion cf          js/syntaxhighlighter/scripts/shBrushColdFusion.js',
            'cpp c                  js/syntaxhighlighter/scripts/shBrushCpp.js',
            'c# c-sharp csharp      js/syntaxhighlighter/scripts/shBrushCSharp.js',
            'css                    js/syntaxhighlighter/scripts/shBrushCss.js',
            'delphi pascal          js/syntaxhighlighter/scripts/shBrushDelphi.js',
            'diff patch pas         js/syntaxhighlighter/scripts/shBrushDiff.js',
            'erl erlang             js/syntaxhighlighter/scripts/shBrushErlang.js',
            'groovy                 js/syntaxhighlighter/scripts/shBrushGroovy.js',
            'java                   js/syntaxhighlighter/scripts/shBrushJava.js',
            'jfx javafx             js/syntaxhighlighter/scripts/shBrushJavaFX.js',
            'js jscript javascript  js/syntaxhighlighter/scripts/shBrushJScript.js',
            'perl pl                js/syntaxhighlighter/scripts/shBrushPerl.js',
            'php                    js/syntaxhighlighter/scripts/shBrushPhp.js',
            'text plain             js/syntaxhighlighter/scripts/shBrushPlain.js',
            'py python              js/syntaxhighlighter/scripts/shBrushPython.js',
            'ruby rails ror rb      js/syntaxhighlighter/scripts/shBrushRuby.js',
            'sass scss              js/syntaxhighlighter/scripts/shBrushSass.js',
            'scala                  js/syntaxhighlighter/scripts/shBrushScala.js',
            'sql                    js/syntaxhighlighter/scripts/shBrushSql.js',
            'vb vbnet               js/syntaxhighlighter/scripts/shBrushVb.js',
            'xml xhtml xslt html    js/syntaxhighlighter/scripts/shBrushXml.js'
        );
        // !!! replace < to &lt;
        SyntaxHighlighter.all();

        function openForm1()
        {
            $('#comments-text').animate({
                'height': '100px'
                }, 500);
            $('#subform0').fadeIn("slow");
            $('#subform1').fadeIn("slow");
        }

        function openForm2()
        {
            $('#subform2').fadeIn("slow");
        }

        function moveReply(id)
        {
            $('#comments-text').css({
                'height': '100px'
            });
            $('#subform0').show();
            $('#subform1').show();
            $('#subform2').show();
            $('.reply').html('');
            $('#reply_'+id).html($('#comments-form').html());
            $('#comments-form').hide();
        }

    </script>
</body>
</html>