{% load widgets %}
{% if not ajax %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if custom_title %}{{ custom_title }} - {% else %}{{ app_title }}{% if app_title %} - {% endif %}{% endif %}Sergey Lagovskiy</title>
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta name="author" content="Sergey Lagovskiy" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" title="Sergey Lagovskiy" />

    <!-- scripts -->
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>

    <script src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
    <link href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shAutoloader.js"></script>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCoreDefault.css" />

    <script src="{{ STATIC_URL }}js/jquery.corner.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-notifer.js"></script>

    <!-- normalize -->
    <link href="{{ STATIC_URL }}css/normalize.min.css" rel="stylesheet" />

    <!-- bootstrap -->
    <script src="{{ STATIC_URL }}css/bootstrap/js/bootstrap.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- css -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />

    {% if user.get_profile.canAdmin %}
    <!-- ui -->
    <script src="{{ STATIC_URL }}js/ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link href="{{ STATIC_URL }}js/ui/css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    {% endif %}

    <script src="{{ STATIC_URL }}js/scripts.js"></script>

    <!-- feeds -->
    <link title="blog - last posts" type="application/rss+xml" rel="alternate" href="/rss/">
    <link title="blog - last posts" type="application/atom+xml" rel="alternate" href="/atom/">

    {% block extra_css %}{% endblock %}

    {% block extra_js %}{% endblock %}

    {% block extra_head %}{% endblock %}

</head>
<body>
    <div class="navbar navbar-static-top border-bottom">
        <header role="banner">
            <section class="container">
                <h1 class="navbar-brand logo">
                    <a href="/" title="Return to the main page." class="logo-img">
                    <!--<b>S</b>ergey<b>L</b>agovskiy<img src="{{ STATIC_URL }}img/logo.png">-->
                    </a>
                </h1>

                <nav>
                    <ul class="navbar-nav navbar-right">
                        <li><a href="/"{% ifequal link_app "home" %} class="active"{% endifequal %}>Home</a></li>
                        <li><a href="/blog"{% ifequal link_app "blog" %} class="active"{% endifequal %}>Blog</a></li>
                        <li><a href="/projects/"{% ifequal link_app "projects" %} class="active"{% endifequal %}>Projects</a></li>
                        <li><a href="/about/"{% ifequal link_app "about" %} class="active"{% endifequal %}>About</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <div class="hr"></div>
    </div>
    <div class="container">
            <section class="col-xs-12 col-sm-6 col-md-9">
{% endif %}
            {% block content %}{% endblock %}
{% if not ajax %}
            </section>

            <aside class="col-xs-6 col-md-3 sidebar">
                {% if user.get_profile.canAdmin %}{% widget_admin_menu %}{% endif %}

                {% widget_archive_menu %}

                {% widget_categories_menu %}

                {% widget_tags_menu %}

                {% widget_links_menu %}

                {% ifnotequal link_app "admin" %}{% widget_banners %}{% endifnotequal %}
            </aside>
    </div>
    <footer role="footer" class="border-top">
        <section class="container">
            <p><a href="mailto:slagovskiy@gmail.com">Sergey Lagovskiy</a> &copy; 2010-{% now "Y" %} &nbsp;&nbsp;<span title="Odyssey">Οδύσσεια</span> 0.1</p>
        </section>
    </footer>
    <script>
        $("a.img").fancybox();
        SyntaxHighlighter.autoloader(
            'applescript            {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushAppleScript.js',
            'actionscript3 as3      {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushAS3.js',
            'bash shell             {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushBash.js',
            'cmd                    {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushCMD.js',
            'coldfusion cf          {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushColdFusion.js',
            'cpp c                  {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushCpp.js',
            'c# c-sharp csharp      {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushCSharp.js',
            'css                    {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushCss.js',
            'delphi pascal          {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushDelphi.js',
            'diff patch pas         {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushDiff.js',
            'erl erlang             {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushErlang.js',
            'groovy                 {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushGroovy.js',
            'java                   {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushJava.js',
            'jfx javafx             {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushJavaFX.js',
            'js jscript javascript  {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushJScript.js',
            'perl pl                {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushPerl.js',
            'php                    {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushPhp.js',
            'text plain             {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushPlain.js',
            'py python              {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushPython.js',
            'ruby rails ror rb      {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushRuby.js',
            'sass scss              {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushSass.js',
            'scala                  {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushScala.js',
            'sql                    {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushSql.js',
            'vb vbnet               {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushVb.js',
            'xml xhtml xslt html    {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushXml.js',
            'RouterOS ros           {{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushRouterOS.js'
        );
        // !!! replace < to &lt;
        SyntaxHighlighter.all();
    </script>
</body>
</html>
{% endif %}