{% load widgets %}
{% if not ajax %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ app_title }}{% if app_title %} - {% endif %}Sergey Lagovskiy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" title="Sergey Lagovskiy">

    <link href="{{ STATIC_URL }}css/normalize.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/jquery/jquery-1.8.2.min.js"></script>

    <script src="{{ STATIC_URL }}js/jquery-notifer/jquery-notifer.js"></script>

    <script src="{{ STATIC_URL }}js/datepicker/bootstrap-datepicker.js"></script>
    <link href="{{ STATIC_URL }}js/datepicker/datepicker.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/lagovskiy.com.js"></script>

    {% block extra_css %}{% endblock %}

    {% block extra_js %}{% endblock %}

    {% block extra_head %}{% endblock %}

    <style type="text/css">
        {% if user.get_profile.canAdmin %}
        body{background-image: url("{{ STATIC_URL }}img/admin_bg.png");}
        {% else %}
        body{background-image: url("{{ STATIC_URL }}img/user_bg.png");}
        {% endif %}
    </style>
</head>
<body>
<div class="admin">
    <div class="admin_strip"></div>
    {% if user.get_profile.canAdmin %}
    <div class="container">
        <ul class="menu nav nav-pills">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/blog/category/">Categories</a></li>
                    <li><a href="/admin/blog/tag/">Tags</a></li>
                    <li><hr></li>
                    <li><a href="/admin/blog/post/">Posts</a></li>
                </ul>
            </li>
            <li><a href="#">Statistic</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="admin_login">
        {% if user.is_authenticated %}
        {{ user.first_name }} {{ user.last_name }} <a href="/admin/logout/" class="login" title="logout"><i class="icon-off"></i></a>
        {% else %}
        <a href="/admin/login/" class="login" title="login"><i class="icon-lock"></i></a>
        {% endif %}
    </div>

    <div class="block_clear"></div>
</div>
<div class="container">

    <!-- HEAD -->
    <div>
        <div class="row clearfix page_head">
            <div class="span10">
                <a href="/"><h1 class="logo" title="Sergey Lagovskiy">Sergey Lagovskiy</h1></a>
            </div>
            <div class="span10">
                <ul class="menu nav nav-pills">
                    <li class="active"{% ifequal link_app 'home' %} class="active"{% endifequal %}><a href="/">home</a></li>
                    <li class="empty">/</li>
                    <li><a href="/blog/"{% ifequal link_app 'blog' %} class="active"{% endifequal %}>blog</a></li>
                    <li class="empty">/</li>
                    <li><a href="/projects/"{% ifequal link_app 'projects' %} class="active"{% endifequal %}>projects</a></li>
                    <li class="empty">/</li>
                    <li><a href="/about"{% ifequal link_app 'about' %} class="active"{% endifequal %}>about & contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- BODY -->
    <div class="row clearfix page_body">
        <div class="span9 content">
            <div class="post">
                {% if message %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                {% endif %}
{% endif %}

                {% block content %}{% endblock %}

{% if not ajax %}
            </div>
        </div>
        <div class="span3 panel">
            {% widget_categories_menu %}

            {% widget_tags_menu %}

            {% widget_links_menu %}
        </div>
    </div>

    <!-- BOTTOM -->
    <div class="row clearfix page_bottom">
        <a href="mailto:slagovskiy@gmail.com">Sergey Lagovskiy</a> &copy; 2010-{% now "Y" %} &nbsp;&nbsp;
        <span title="Odyssey">Οδύσσεια</span> 1.0
    </div>
</div>


    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
    <script language="javascript">
        //
    </script>
</body>
</html>
{% endif %}



