{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'libs/jsrender/jsrender.min.js' %}"></script>

{% verbatim %}
    <script id="dataTemplate" type="text/x-jsrender">
        <table class="data">
        <thead>
            <tr>
                <th>Title</td>
                <th>Slug</td>
                <th>Status</td>
            </tr>
        </thead>
        {{for items}}
            <tr class="{{if #getIndex()%2}}even{{/if}}">
                <td>
                    <a href="#dataForm" onclick="editData({{:pk}});return false;" class="open-data-form">{{>fields.title}}</a>
                </td>
                <td>{{>fields.slug}}</td>
                <td>{{>fields.status}}</td>
            </tr>
        {{/for}}
        </table>
    </script>
    <script id="dataEdit" type="text/x-jsrender">
        <form id="editForm">{{for items}}
{% endverbatim %}
            {% csrf_token %}
{% verbatim %}
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#meta">meta</a></li>
              <li><a data-toggle="tab" href="#labels">labels</a></li>
              <li><a data-toggle="tab" href="#content">content</a></li>
              <li><a data-toggle="tab" href="#preview" onclick="loadPreview();">preview</a></li>
            </ul>
            <div class="tab-content fields">
                <div id="meta" class="tab-pane fade in active">
                    <input type="hidden" value="" name="id">
                    <label for="txtSlug" class="col-md-2">slug</label>
                    <textarea name="txtSlug" id="txtSlug" class="col-md-10 text">{{>fields.slug}}</textarea>
                    <br>
                    <label for="txtTitle" class="col-md-2">title</label>
                    <textarea name="txtTitle" id="txtTitle" class="col-md-10 text">{{>fields.title}}</textarea>
                    <br>
                    <label for="txtDescription" class="col-md-2">description</label>
                    <textarea name="txtDescription" id="txtDescription" class="col-md-10 text3">{{>fields.description}}</textarea>
                    <br>
                    <label for="txtKeywords" class="col-md-2">keywords</label>
                    <textarea name="txtKeywords" id="txtKeywords" class="col-md-10 text3">{{>fields.keywords}}</textarea>
                    <br>
                    <label for="txtPublished" class="col-md-2">published</label>
                    <input type="text" name="txtPublished" id="txtPublished" class="col-md-9 text datetimeMask" value="{{datetime:fields.published}}">
                    <a href="#" class="col-md-1 abtn" onClick="publishedNow(); return false;">now</a>
                    <br>
                </div>
                <div id="labels" class="tab-pane fade">
                    <div id="dataCategory" class="checkboxes"></div>
                    <hr>
                    <div id="dataTag" class="checkboxes"></div>
                </div>
                <div id="content" class="tab-pane fade">
                    <label for="txtTeaser" class="col-md-12">teaser</label>
                    <textarea name="txtTeaser" id="txtTeaser" class="col-md-12 md12">{{>fields.teaser}}</textarea>
                    <br>
                    <label for="txtContent" class="col-md-12">content</label>
                    <textarea name="txtContent" id="txtContent" class="col-md-12 md18">{{>fields.content}}</textarea>
                    <br>
                </div>
                <div id="preview" class="tab-pane fade">
                    <div id="dataPreview"></div>
                </div>
            </div>
            <div class="action">
                <button onclick="saveData();" class="btn btn-success"><i class="fa fa-floppy-o"></i> save</button>
            </div>
        {{/for}}</form>
    </script>
    <script id="dataTemplateCategory" type="text/x-jsrender">
        <label class="col-md-12">notepads</label>
        {{for items}}
            <input type="checkbox" name="_category" value="{{>fields.slug}}" id="category_{{>fields.slug}}"{{if fields.select}} checked{{/if}} class="hide"><a href="#" id="category_btn_{{>fields.slug}}" onclick="check_category('{{>fields.slug}}');return false;" class="{{if fields.select}}checked{{/if}}">{{:fields.name}}</a>
        {{/for}}
    </script>
    <script id="dataTemplateTag" type="text/x-jsrender">
        <label class="col-md-12">tags</label>
        {{for items}}
            <input type="checkbox" name="_tag" value="{{>fields.slug}}" id="tag_{{>fields.slug}}"{{if fields.select}} checked{{/if}} class="hide"><a href="#" id="tag_btn_{{>fields.slug}}" onclick="check_tag('{{>fields.slug}}');return false;" class="{{if fields.select}}checked{{/if}}">{{:fields.name}}</a>
        {{/for}}
    </script>
{% endverbatim %}
<div class="admin-action">
    <a href="#dataForm" onclick="editData(-1);return false;" class="open-data-form"><i class="fa fa-plus"></i> add new tag</a>&nbsp;&nbsp;&nbsp;
    <a href="#" onclick="loadData();return false;"><i class="fa fa-refresh"></i> refresh</a>
</div>
<div id="dataForm" class="pageform"></div>
<div id="dataContainer" class="dataContainer"></div>
<script>
    function loadData()
    {
        $.ajax({
            url :'{% url 'admin_post_get' 0 %}',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $.templates('#dataTemplate');
            $('#dataContainer').html(template.render(jdata));
        });
    }

    function publishedNow()
    {
        var d = new Date();
        var ds = d.getFullYear() + '/' +
                ('0'+(d.getMonth()+1)).slice(-2) + '/' +
                ('0' + d.getDate()).slice(-2) + ' ' +
                ('0' + d.getHours()).slice(-2) + ':' +
                ('0' + d.getMinutes()).slice(-2) + ':' +
                ('0' + d.getSeconds()).slice(-2);
        $('#txtPublished').val(ds)
    }

    function check_category(key)
    {
        var c = $('#category_' + key).prop('checked');
        if (c) {
            $('#category_' + key).prop('checked', false);
            $('#category_btn_' + key).removeClass('checked');
        } else {
            $('#category_' + key).prop('checked', true);
            $('#category_btn_' + key).addClass('checked');
        }
    }

    function check_tag(key)
    {
        var c = $('#tag_' + key).prop('checked');
        if (c) {
            $('#tag_' + key).prop('checked', false);
            $('#tag_btn_' + key).removeClass('checked');
        } else {
            $('#tag_' + key).prop('checked', true);
            $('#tag_btn_' + key).addClass('checked');
        }
    }

    function loadTag(key)
    {
        $.ajax({
            url :'{% url 'admin_post_tag_get' %}?id=' + key,
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $.templates('#dataTemplateTag');
            $('#dataTag').html(template.render(jdata));
        });
    }

    function loadCategory(key)
    {
        $.ajax({
            url :'{% url 'admin_post_category_get' %}?id=' + key,
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $.templates('#dataTemplateCategory');
            $('#dataCategory').html(template.render(jdata));
        });
    }

    function loadPreview()
    {
        $.ajax({
            url: '{% url 'admin_post_preview' %}',
            cashe: false,
            method: 'POST',
            data: $("#dataForm form").serialize()
        })
        .done(function(code){
            $('#dataPreview').html(code);
        })
        .fail(function(){
            notice('red', 'load preview error');
        });
    }

    function editData(key)
    {
        $.ajax({
            url :'{% url 'admin_post' %}' + key + '/',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $.templates('#dataEdit');
            $('#dataForm').html(template.render(jdata));
            loadTag(key);
            loadCategory(key);
        });

        $('#dataContainer').hide();
    }

    function deleteItem() {
        $("#dataForm form #deleted").val('true');
        saveData();
    }

    function restoreItem() {
        $("#dataForm form #deleted").val('false');
        saveData();
    }

    function saveData() {
        $.ajax({
                type: 'POST',
                url: '{% url 'admin_post_save' %}',
                data: $("#dataForm form").serialize()
            })
            .done(function(data){
                if(data=='ok') {
                    notice('green', 'saved');
                    $.fancybox.close();
                    loadData();
                }
                else {
                    notice('red', data);
                }
            })
            .fail(function(){
                notice('red', 'data transfer error');
            });
        $("#dataForm form").submit(function(){
            return false;
        });
        $('#dataContainer').show();
    }

    $(document).ready(function(){
        loadData();
    });
</script>
{% endblock %}