{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'libs/jsrender/jsrender.min.js' %}"></script>


    {% verbatim %}
    <script id="dataFileTemplate" type="text/x-jsrender">
        <table class="data">
        <thead>
            <tr>
                <th>#</td>
                <th>Filename</td>
                <th>Folder</td>
            </tr>
        </thead>
        {{for items}}
            <tr class="{{if fields.deleted}}deleted {{/if}}{{if #getIndex()%2}}even{{/if}}">
                <td style="text-align: center;">
                    <img src="{% endverbatim %}{% url "media_file" %}{% verbatim %}{{:fields.uuid}}/?s=24">
                </td>
                <td>
                    <a href="#dataFileForm" onclick="editFileData({{:pk}});return false;" class="open-data-form">{{cutstr max=70}}{{>fields.name}}{{/cutstr}}</a>
                </td>
                <td>{{:fields.foldername}}</td>
            </tr>
        {{/for}}
        </table>
    </script>
    <script id="dataFileEdit" type="text/x-jsrender">
        <form id="editFileForm">{{for items}}
            <div class="fields">
{% endverbatim %}
                {% csrf_token %}
{% verbatim %}
                <input type="hidden" value="{{:pk}}" name="id">
                <input type="hidden" value="{{:fields.deleted}}" name="deleted" id="deleted">
                <div class="imagePreviewField">
                    <img src="{% endverbatim %}{% url "media_file" %}{% verbatim %}{{:fields.uuid}}/?w=600">
                </div>
                <label for="txtUUID" class="col-md-2">uuid</label>
                <input type="text" readonly value="{{:fields.uuid}}" name="txtUUID" class="col-md-9 text">
                <br>
                <label for="txtName" class="col-md-2">name</label>
                <input type="text" readonly value="{{:fields.name}}" name="txtName" class="col-md-9 text">
                <br>
                <label for="txtFolderName" class="col-md-2">folder</label>
                <input type="hidden" value="{{:fields.folder}}" name="folder_id">
                <input type="text" readonly value="{{:fields.foldername}}" name="txtFolderName" class="col-md-9 text">
                <br>
                <label for="txtAdded" class="col-md-2">added</label>
                <input type="text" readonly value="{{datetime:fields.added}}" name="txtAdded" class="col-md-9 text">
                <br>
            </div>
            <div class="action">
                <button onclick="saveFileData();" class="btn btn-success"><i class="fa fa-floppy-o"></i> save</button>
                {{if fields.deleted}}
                <button onclick="restoreFileItem();" class="btn btn-info"><i class="fa fa-undo"></i> restore</button>
                {{else}}
                <button onclick="deleteFileItem();" class="btn btn-danger"><i class="fa fa-times"></i> delete</button>
                {{/if}}
            </div>
        {{/for}}</form>
    </script>
    <script id="dataFileUpload" type="text/x-jsrender">
        <form id="upload-form" action="" method="POST" enctype="multipart/form-data">
{% endverbatim %}

            {% csrf_token %}
{% verbatim %}

            <div class="fields">
                <select name="folder_key">
                    {{for items}}<option value="{{:pk}}">{{:fields.name}}</option>{{/for}}
                </select>
                <hr>
                <div class="col-md-12">
                    <div class="col-md-3" id="filePickerContainer">
                        <input id="filePicker" type="file" name="file" accept="image/*" multiple class="filePicker">
                        <label for="filePicker" class="btn btn-success">Choose a file</label>
                    </div>
                    <div class="col-md-9">
                        <div class="progressTrough" id="progress">
                            <div id="progressBar" class="progressBar">0%</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="dropbox" class="dropbox">
                    Drag and Drop Files Here
                </div>
                <input type="submit" value="upload" id="upload-button" class="btn btn-success">
                <hr>
                <a href="{% endverbatim %}{% url "admin_folder" %}{% verbatim %}"><i class="fa fa-arrow-left"></i> back</a>
            </div>
        </form>
    </script>
{% endverbatim %}

<div class="admin-action">
    <a href="#" onclick="loadFoldersData();return false;" class="open-data-form"><i class="fa fa-plus"></i> add new file</a>&nbsp;&nbsp;&nbsp;
    <a href="#" onclick="loadFileData();return false;"><i class="fa fa-refresh"></i> refresh</a>
</div>
<div id="dataFileForm" class="window" style="display: none;"></div>
<div id="dataFolderContainer" class="dataContainer"></div>
<div id="dataFileContainer" class="dataContainer"></div>

<script>
    $(document).ready(function(){
        url_file_get_all = '{% url 'admin_file_get' 0 %}';
        url_file_get = '{% url 'admin_file' %}';
        url_file_save = '{% url 'admin_file_save' %}';
        url_folder_get_all = '{% url 'admin_folder_get' 0 %}';
        UPLOAD_URL = "{% url "admin_upload" %}";

        loadFileData();
    });
</script>
{% endblock %}