{% extends 'photo/base.html' %}
{% load django_markdown %}

{% block ext_meta %}
    {% if photo %}
        <meta name="description" content="{% for tag in photo.tags.all %}#{{ tag.name }} {% endfor %}" />
        <meta name="keywords" content="{% for tag in photo.tags.all %}{{ tag.name }}{% if not forloop.last %},{% endif %} {% endfor %}" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{% if photo.title %}{{ photo.title }}{% else %}* * *{% endif %}">
        <meta itemprop="description" content="{% for tag in photo.tags.all %}#{{ tag.name }} {% endfor %}">
        <meta itemprop="image" content="{{ photo.image.url }}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="{{ photo }}">
        <!--<meta name="twitter:site" content="@publisher_handle">-->
        <meta name="twitter:title" content="{% if photo.title %}{{ photo.title }}{% else %}* * *{% endif %}">
        <meta name="twitter:description" content="{% for tag in photo.tags.all %}#{{ tag.name }} {% endfor %}">
        <!--<meta name="twitter:creator" content="@author_handle">-->
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{{ photo.image.url }}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{% if photo.title %}{{ photo.title }}{% else %}* * *{% endif %}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ photo }}" />
        <meta property="og:image" content="{{ photo.image.url }}" />
        <meta property="og:description" content="{% for tag in photo.tags.all %}#{{ tag.name }} {% endfor %}" />
        <meta property="og:site_name" content="{{ request.session.global.site_name }}" />
        <meta property="article:published_time" content="{{ photo.published }}" />
        <meta property="article:modified_time" content="{{ photo.published }}" />
        {% for album in photo.albums.all %}<meta property="article:section" content="{{ album.name }}" />{% endfor %}
        {% for tag in photo.tags.all %}<meta property="article:tag" content="{{ tag.name }}" />{% endfor %}
        <!--<meta property="fb:admins" content="Facebook numberic ID" />-->
    {% endif %}
{% endblock %}

{% block content %}
<div class="photo-view">
    <a data-fancybox="gallery" href="{{ photo.image.url }}">
        <img src="{{ photo.image.url }}?h=700" border="0" />
    </a>
    {% if photo.title %}
        <div class="photo-title">
            {% if photo.title %}{{ photo.title }}{% else %}* * *{% endif %}
            <div class="photo-info">
                {% if photo.albums %}<br><i class="fa fa-folder-o"></i> {% for album in photo.albums.all %}<a href="{% url 'photo_by_album' album.slug %}">{{ album.name }}</a>{% if not forloop.last %},{% endif %}&nbsp;{% endfor %}  {% endif %}
                {% if photo.tags %}<i class="fa fa-tags"></i> {% for tag in photo.tags.all %}<a href="{% url 'photo_by_tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}&nbsp;{% endfor %}{% endif %}
                <br><i class="fa fa-camera"></i> <a href="#">zenit ttl</a>, <a href="#">helios 44m</a>, <a href="#">fomapan 400</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}