<div class="photo-item">
    <a data-fancybox="gallery" data-fancybox="ajax" data-src="{{ photo.image.url }}" href="{% url 'photo_item_view' photo.slug %}"
       data-caption="
        {% if photo.title %}{{ photo.title }}{% else %}* * *{% endif %}
        {% if photo.albums %}<br><i class='fa fa-folder-o'></i> {% for album in photo.albums.all %}<a href='{% url 'photo_by_album' album.slug %}'>{{ album.name }}</a>{% if not forloop.last %},{% endif %}&nbsp;{% endfor %}  {% endif %}
        {% if photo.tags %}<i class='fa fa-tags'></i> {% for tag in photo.tags.all %}<a href='{% url 'photo_by_tag' tag.slug %}'>{{ tag.name }}</a>{% if not forloop.last %},{% endif %}&nbsp;{% endfor %}{% endif %}
        <br><i class='fa fa-camera'></i> <a href='#'>zenit ttl</a>, <a href='#'>helios 44m</a>, <a href='#'>fomapan 400</a>
     ">
        <img src="{{ photo.image.url }}?w=200&stat=0" border="0" />
    </a>
    {% if photo.title %}
    <div class="photo-title">
        {{ photo.title }}
    </div>
    {% endif %}
</div>