{% extends 'oadmin/base.html' %}
{% load static %}

{% block oa-content %}
<script src="{% static 'libs/markup/markup.min.js' %}"></script>


{% verbatim %}
    <div id="dataTemplate" class="hide">
        <ul>{{.}}
            <li><a href="#" onclick="editData({{pk}});return false;">{{fields.name}} [{{fields.slug}}]</a></li>
        {{/.}}</ul>
    </div>
    <div id="dataEdit" class="hide">
        <form>{{.}}
            <label>slug</label><input type="text" value="{{fields.slug}}"><br>
            <label>name</label><input type="text" value="{{fields.name}}">
        {{/.}}</form>
    </div>
{% endverbatim %}
<div id="dataForm" class="dataForm"></div>
<div id="dataContainer" class="dataContainer"></div>

<script>
    function loadData()
    {
        $.ajax({
            url :'{% url 'oadmin_tag_all' %}',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $('#dataTemplate').html();
            $('#dataContainer').html(Mark.up(template, jdata));
        });
    }

    function editData(key)
    {
        $.ajax({
            url :'{% url 'oadmin_tag' %}' + key + '/',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $('#dataEdit').html();
            $('#dataForm').html(Mark.up(template, jdata));
        });
    }

    $(document).ready(function(){
        loadData();
    });
</script>
{% endblock %}