{% extends 'oadmin/base.html' %}
{% load static %}

{% block oa-content %}
<script src="{% static 'libs/markup/markup.min.js' %}"></script>


{% verbatim %}
    <div id="dataTemplate" class="hide">
        <ul>{{.}}
            <li><a href="#dataForm" onclick="editData('{{model}}',{{pk}});return false;" class="open-data-form">{{fields.name}} [{{fields.slug}}]</a></li>
        {{/.}}</ul>
    </div>
    <div id="dataEdit" class="hide">
        <form id="editForm">{{.}}
            <div class="fields">
{% endverbatim %}
                {% csrf_token %}
{% verbatim %}
                <input type="hidden" name="id" value="{{pk}}">
                <label for="txtSlug">slug</label>
                <input type="text" value="{{fields.slug}}" name="txtSlug" id="txtSlug">
                <br>
                <label for="txtName">name</label>
                <input type="text" value="{{fields.name}}" name="txtName" id="txtName">
            </div>
            <div class="action">
                <input type="button" onclick="saveData('{{model}}');" value="save" class="btn btn-success">
            </div>
        {{/.}}</form>
    </div>
{% endverbatim %}

<div id="dataForm" class="dataForm" style="display: none;"></div>
<div id="dataContainer" class="dataContainer"></div>

<script>
    function loadData(model)
    {
        $.ajax({
            url :'/oadmin/' + model + '/all/',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $('#dataTemplate').html();
            $('#dataContainer').html(Mark.up(template, jdata));
        });
    }

    function editData(model, key)
    {
        $.ajax({
            url :'/oadmin/' + model + '/' + key + '/',
            cashe: false
        }).done(function(data){
            var jdata = jQuery.parseJSON(data);
            var template = $('#dataEdit').html();
            $('#dataForm').html(Mark.up(template, jdata));
        });

        $('.open-data-form').fancybox({
            padding: 0,
            type: 'inline',
            title: '',
            modal: false,
            autoSize: true
        });
    }

    function saveData(model) {
        $.ajax({
                type: 'POST',
                url: '/oadmin/' + model + '/save/',
                data: $("#dataForm form").serialize()
            })
            .done(function(data){
                if(data=='ok') {
                    notice('green', 'saved');
                    $.fancybox.close();
                    loadData(model);
                }
                else {
                    notice('red', data);
                }
            })
            .fail(function(){
                notice('red', 'data transfer error');
            });
    }

    $(document).ready(function(){
        loadData('blog.tag');
    });
</script>
{% endblock %}