<nav class="oadmin-top-menu">
    <ul>
        {% url 'oadmin_dashboard' as url %}<li><a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>Dashboard</a></li>
        <li><a href="/oadmin/">Posts</a></li>
        <li><a href="/oadmin/">Comments</a></li>
        {% url 'oadmin_category' as url %}<li><a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>Notepads</a></li>
        {% url 'oadmin_tag' as url %}<li><a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>Tags</a></li>
        {% url 'oadmin_mylinks' as url %}<li><a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>Links</a></li>
    </ul>
</nav>